@use 'styles/abstracts/variables' as *;

.radio-group {
    margin: 15px 0;
  }
  
  .radio-button {
    margin: 5px;
  }
  
  .alert-info .alert-icon {
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: -1px;
  }
  .mat-mdc-tab {
    height: 48px;
    padding: 0 0px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 100px !important;
    text-align: left;
    display: inline-flex;
    justify-content: left;
    align-items: left;
    white-space: nowrap;
    position: relative;
  }
  
  .mat-mdc-tab-label-container{
    display: none;
  }
  table {
    width: 100%;
  }
  
  .mat-mdc-tab.mat-mdc-tab-disabled {
      color: black;
  }
  
  .mat-mdc-tab-header {
    margin-right: 200px;
  }
  
  .container {
    position: relative;
  }
  
  .dropdown {
    position: absolute;
    top: 0px;
    right: 10px;
  }
  
  .mat-column-min {
    width: 55% !important;
  }

  .mat-column-min {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .mat-column-min {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }