<div *ngIf="showSpinner" class="showSpinner">
    <mat-spinner [diameter]="50"></mat-spinner>
</div>
<div class="card-body-header">
    <div class="card-body-user">
        <mat-tab-group animationDuration="1000ms" class="mat-tab-header-manual" [selectedIndex]="selectIndex"
            (selectedIndexChange)="tabSelectEvent($event)">
            <ng-container>
                <mat-tab label="Sub-ricipient"></mat-tab>
            </ng-container>
        </mat-tab-group>
    </div>
</div>
<div>
    <mat-card>
        <div class="row" style="display: flex;">
            <div class="col-lg-12">
                <mat-accordion class="example-headers-align" multi>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header #panelSearch>
                            <mat-panel-title>
                                <div class="row" style="width: 100%;">
                                    <div class="col-lg-4">
                                        <span class="mat-panel-title-span">Enter / Select optional fields and click
                                            search</span>
                                    </div>
                                    <div class="col-lg-8 text-end">
                                        <button *ngIf="isAddOrEdit" class="mt-1 cursor button-red" mat-button
                                            (click)="panelSearch._toggle();openPopup({}, 'addSubRec')">
                                            <mat-icon class="mr-10">add</mat-icon>
                                            <span class="mt-20">Add Sub-recipient</span>
                                        </button>
                                        <button *ngIf="isAddOrEdit" class="mt-1 cursor button-red" mat-button
                                            (click)="panelSearch._toggle(); saveSubRecipientDetails()"
                                            [disabled]="responseData?.data?.length == 0">
                                            <mat-icon class="mr-10">save</mat-icon>
                                            <span class="mt-20">Save</span>
                                        </button>
                                        <button class="mt-1 cursor button-red" mat-button
                                            (click)="panelSearch._toggle();"
                                            [disabled]="responseData?.data?.length == 0">
                                            <mat-icon class="mr-10">cancel</mat-icon>
                                            <span class="mt-20">Cancel</span>
                                        </button>
                                    </div>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="row column-search mt-20 me-2">
                            <div class="col-lg-4">
                                <mat-form-field class="full-width">
                                    <input matInput [(ngModel)]="selectedSearchSubRec" [matAutocomplete]="auto"
                                        [formControl]="searchSubRecCtrl" placeholder="Min 3 Characters" />
                                    <button *ngIf="selectedSearchSubRec" matSuffix mat-icon-button aria-label="Clear"
                                        (click)="clearSelection()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    <div style="margin-bottom: -30px">
                                        <mat-icon style="margin-top: -2px" matSuffix></mat-icon>
                                    </div>
                                    <span matSuffix>
                                        <mat-icon matSuffix>search</mat-icon>
                                    </span>
                                    <mat-label>Select Sub-Recipient</mat-label>
                                    <mat-autocomplete [panelWidth]="520" #auto="matAutocomplete"
                                        (optionSelected)="onSelected()" [displayWith]="displayWith">
                                        <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                        <ng-container *ngIf="!isLoading">
                                            <mat-option *ngFor="let subRec of filteredSubRecInfo" [value]="subRec">
                                                <span><b>{{subRec.subRecName}}</b> ({{subRec.subRecCd}})</span>
                                            </mat-option>
                                        </ng-container>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3 column-search mt-40">
                                <mat-label class="radio-group" id="exampl-radio-group-label"
                                    style="font-size: 14px; color: rgba(0,0,0,0.38)">Notification Format: </mat-label>
                                <mat-radio-group layout="row" aria-labelledby="exampl-radio-group-label"
                                    class="radio-group" [(ngModel)]="selectedNotificationFormat">
                                    <mat-radio-button
                                        [checked]="selectedNotificationFormat === notificationFormat.item_id"
                                        style="font-size: 12px; margin-right: 8px;" class="radio-button"
                                        *ngFor="let notificationFormat of notificationFormatSearchList"
                                        [value]="notificationFormat.item_id">{{notificationFormat.item_text}}</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-lg-4 column-search mt-40">
                                <mat-label class="radio-group" id="exampl-radio-group-label"
                                    style="font-size: 14px; color: rgba(0,0,0,0.38)">Sub-Recipient Status: </mat-label>
                                <mat-radio-group layout="row" aria-labelledby="exampl-radio-group-label"
                                    class="radio-group" [(ngModel)]="selectedSubRecStatus">
                                    <mat-radio-button [checked]="selectedSubRecStatus === subRecStatus.item_id"
                                        style="font-size: 12px; margin-right: 8px;" class="radio-button"
                                        *ngFor="let subRecStatus of subRecipientStatusSearchList"
                                        [value]="subRecStatus.item_id">{{subRecStatus.item_text}}</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="col-lg-1 mt-1">
                                <button class="mt-1 cursor button-red" mat-button
                                    (click)="pageNumber = 1; searchSetupList()">
                                    <mat-icon class="mr-10">search</mat-icon>
                                    <span class="mt-20">Search</span>
                                </button>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <div class="col-lg-12 mt-3">
                <div class="row">
                    <ng-container>
                        <div class="col-lg-10 column-search mt-10"></div>
                        <div *ngIf="responseData?.filteredData?.length > 0" class="col-lg-1 column-search mt-10">
                            <button *ngIf="responseData?.filteredData?.length > 0" class="mt-1 cursor" mat-button
                                style="color: #006400;" (click)="exportToPDF()">
                                <mat-icon class="me-1">file_download</mat-icon>
                                <span class="mt-1">Download</span>
                            </button>
                        </div>
                        <div *ngIf="responseData?.filteredData?.length > 0 && totalItems > 50"
                            class="col-lg-1 column-search mt-10">
                            <mat-form-field style="font-size: 12px;" appearance="outline">
                                <mat-label>Items per page</mat-label>
                                <mat-select [(value)]="currentPageSize" (selectionChange)="onPageSizeChange($event)">
                                    <mat-option *ngFor="let option of pageSizeOptionLabels" [value]="option.value">
                                        {{option.label}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </ng-container>
                </div>
                <mat-card-content>
                    <div class="table-responsive" *ngIf="responseData?.data?.length > 0">
                        <table #table mat-table [dataSource]="responseData" class="tbl-width">
                            <ng-container *ngFor="let data of matColumnConfig; let i = index"
                                matColumnDef="{{data.id}}">
                                <th style="min-width: 60px;" mat-header-cell *matHeaderCellDef
                                    [style.width]="data.width">{{data.name}}
                                </th>
                                <td mat-cell *matCellDef="let element; let j = index">
                                    <div *ngIf="data.id == 'subRecCd'">
                                        <span>{{element[data.id]}}</span>
                                    </div>
                                    <div *ngIf="data.id == 'subRecName'">
                                        <mat-form-field style="padding-right: 10px; width: 90%;"
                                            *ngIf="element['subRecSrc'] === 'S'">
                                            <input autocomplete="off" matInput
                                                (input)="element.subRecName = $any($event.target).value"
                                                [value]="element.subRecName" [disabled]="!isAddOrEdit" />
                                        </mat-form-field>
                                        <span *ngIf="element['subRecSrc'] !== 'S'">{{ element.subRecName }}</span>
                                    </div>
                                    <div *ngIf="data.id == 'notifyFmt'">
                                        <mat-form-field style="width: 90%;" *ngIf="data.id == 'notifyFmt'">
                                            <mat-select [(value)]="element.notifyFmt" [disabled]="!isAddOrEdit">
                                                <mat-option style="color:rgb(9,2,2)"
                                                    *ngFor="let notiFmt of notificationFormatList"
                                                    [value]="notiFmt.item_id">{{ notiFmt.item_text }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="data.id == 'calOr'">
                                        <span class="cursor" (click)="openPopup(element, 'subreccalendar')"><mat-icon
                                                title="View Sub-Recipient Calendar"
                                                *ngIf="element.calOr === 'Y'">event</mat-icon></span>
                                    </div>
                                    <div *ngIf="data.id == 'recStat'">
                                        <mat-form-field style="width: 90%;" *ngIf="data.id == 'recStat'">
                                            <mat-select [(value)]="element.recStat">
                                                <mat-option style="color:rgb(9,2,2)"
                                                    *ngFor="let subRecStat of subRecipientStatusList"
                                                    [value]="subRecStat.item_id">{{ subRecStat.item_text }}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="data.id == 'closeDt'">
                                        <mat-form-field *ngIf="element.recStat !== 'C'">
                                            <input matInput disabled />
                                        </mat-form-field>
                                        <mat-form-field class="full-width" *ngIf="element.recStat === 'C'">
                                            <input matInput [matDatepicker]="picker" [(ngModel)]="element.closeDt"
                                                [ngModelOptions]="{ standalone: true }" name="closeDt">
                                            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker color="primary"></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="data.id == 'licNo'">
                                        <mat-form-field style="padding-right: 10px; width: 60%;" *ngIf="isAddOrEdit">
                                            <input autocomplete="off" matInput
                                                (input)="element.licNo = $any($event.target).value"
                                                [value]="element.licNo" [disabled]="!isAddOrEdit" />
                                        </mat-form-field>
                                        <span *ngIf="!isAddOrEdit">{{ element.licNo }}</span>
                                    </div>
                                    <div *ngIf="data.id == 'subRecType' && element[data.id] == 'P'">
                                        <span class="cursor"
                                            (click)="openPopup(element, 'viewBuildings')"><mat-icon>home</mat-icon></span>
                                    </div>
                                    <div *ngIf="data.id == 'subRecSrc' && element[data.id] == 'S'">
                                        <span class="cursor"
                                            (click)="openPopup(element, 'addlInfo')"><mat-icon>insert_drive_file</mat-icon></span>
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="delete">
                                <th mat-header-cell *matHeaderCellDef [style.width]="'60px'"> Delete</th>
                                <td mat-cell *matCellDef="let element; let i = index" [style.width]="'60px'">
                                    <a (click)="openConfirmDeletePopup(element)">
                                        <mat-icon color="warn" class="cursor me-2" title="Remove">delete</mat-icon>
                                    </a>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            <tr mat-row *matNoDataRow>
                                <td [attr.colspan]="displayedColumns.length"> No data matching the
                                    filter.</td>
                            </tr>
                        </table>
                        <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="pageNumber - 1"
                            [pageSizeOptions]="[]" (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>
                    </div>

                </mat-card-content>
            </div>
        </div>
    </mat-card>
</div>