<div>
    <div class="row header">
        <div class="col-lg-10 mt-5">
            <h6>{{headerName}}</h6>
        </div>
        <div class="col-lg-2 mt-5" style="text-align: right">
            <span style="cursor: pointer !important;" [mat-dialog-close]><b>X</b></span>
        </div>
    </div>
    <div style="min-height: 100px;" *ngIf="pageName == 'setValidation' ">
        <div class="row mt-20">
            <div class="col-lg-9">
                <mat-label>Field is Required</mat-label>
            </div>
            <div class="col-lg-2">
                <mat-slide-toggle [(ngModel)]="emitdata.fieldRequired" id="fieldIsRequired"></mat-slide-toggle>
            </div>
        </div>
        <div class="row mt-20">
            <div class="col-lg-9">
                <mat-label>Field should allow only numeric values</mat-label>
            </div>
            <div class="col-lg-2">
                <mat-slide-toggle [(ngModel)]="emitdata.numericOnly" id="onlyNumeric"></mat-slide-toggle>
            </div>
        </div>
        <div class="row mt-20">
            <div class="col-lg-9">
                <mat-label>Field should allow only non numeric values</mat-label>
            </div>
            <div class="col-lg-2">
                <mat-slide-toggle [(ngModel)]="emitdata.alphaOnly" id="onlyNonNumeric"></mat-slide-toggle>
            </div>
        </div>
        <div class="row mt-20">
            <div style="text-align: right; width: 98%;">
                <button style="color: #bd3640 !important;" mat-raised-button class="mr-10" [mat-dialog-close]>Cancel</button>
                <button style="color: #bd3640 !important;" mat-raised-button class="mr-10" (click)="closePopup('ok')">Ok</button>
            </div>
        </div>
    </div>
</div>