<app-workflow-landing [selectedTabIndex]=selectedIndex></app-workflow-landing>

<div class="d-height">
    <div class="spinner" *ngIf="showSpinner">
        <div class="fa-3x">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
    <!-- Copy Workflow Details -->
    <div>
        <form [formGroup]="copyWorkflowForm">
            <mat-card>
                <div class="row mt-10">
                    <!-- User Basic Details -->
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel [expanded]="true">
                            <mat-expansion-panel-header #panelUser class="mat-expansion-panel-header">
                                <mat-panel-title>
                                    <div class="row" style="width: 100%;">
                                        <div class="col-lg-9">
                                            <span class="mat-panel-title-span">Enter / Select filter fields and click
                                                Submit.</span>
                                        </div>
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <ng-container>
                                    <div class="col-lg-4 column-search mt-10">
                                        <div class="mt-20">
                                            <section class="example-section" required>
                                                <mat-label style="color: gray;" class="mr-15">Copy Type * :</mat-label>
                                                <mat-checkbox class="example-margin mr-15" formControlName="WorkflowCopyConfiguration" [(ngModel)]="WorkflowCopyConfiguration">Copy Configuration</mat-checkbox>
                                                <mat-checkbox class="example-margin mr-15" formControlName="WorkflowCopyPermission" [(ngModel)]="WorkflowCopyPermission">Copy Permission</mat-checkbox>
                                            </section>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 column-search mt-10">
                                        <div appearance="outline" class="search-results-count-box">
                                            <mat-form-field class="full-width">
                                                <input matInput required [matAutocomplete]="workFlowFromAutocomplete" (input)="getAutocompleteDropdown($event, 'workFlowFrom')"
                                                    placeholder="Min 3 Characters Ex. Ogs" formControlName="filteredWorkflowFrom" />
                                                <button matSuffix mat-icon-button aria-label="Clear" (click)="clearAutoCompleted('workFlowFrom')">
                                                    <mat-icon class="mr-10">close</mat-icon>
                                                </button>
                                                <div style="margin-bottom: -30px">
                                                    <mat-icon class="mr-10" style="margin-top: -2px"
                                                        matSuffix></mat-icon>
                                                </div>
                                                <span matSuffix>
                                                    <mat-icon class="mr-10" matSuffix>search</mat-icon>
                                                </span>
                                                <mat-label>WorkFlow From</mat-label>
                                                <mat-autocomplete [panelWidth]="450" #workFlowFromAutocomplete="matAutocomplete">
                                                    <ng-container>
                                                        <mat-option (click)="setAutocompleteDropdownSelectedData(workFlowFrom, 'workFlowFrom')" *ngFor="let workFlowFrom of filteredWorkflowFrom" [value]="workFlowFrom.workflowFromDesc">
                                                            <span><b>{{workFlowFrom.workflowFromDesc}}</b> ({{workFlowFrom.workflowFromCode}})</span>
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 column-search mt-10">
                                        <div appearance="outline" class="search-results-count-box">
                                            <mat-form-field class="full-width">
                                                <input matInput required [matAutocomplete]="workFlowToAutocomplete" (input)="getAutocompleteDropdown($event, 'workFlowTo')"
                                                    placeholder="Min 3 Characters Ex. Ogs" formControlName="filteredWorkflowTo" />
                                                <button matSuffix mat-icon-button aria-label="Clear" (click)="clearAutoCompleted('workFlowTo')">
                                                    <mat-icon class="mr-10">close</mat-icon>
                                                </button>
                                                <div style="margin-bottom: -30px">
                                                    <mat-icon class="mr-10" style="margin-top: -2px"
                                                        matSuffix></mat-icon>
                                                </div>
                                                <span matSuffix>
                                                    <mat-icon class="mr-10" matSuffix>search</mat-icon>
                                                </span>
                                                <mat-label>WorkFlow To</mat-label>
                                                <mat-autocomplete [panelWidth]="450" #workFlowToAutocomplete="matAutocomplete">
                                                    <ng-container>
                                                        <mat-option (click)="setAutocompleteDropdownSelectedData(workFlowTo, 'workFlowTo')" *ngFor="let workFlowTo of filteredWorkflowTo" [value]="workFlowTo.workflowToDesc">
                                                            <span><b>{{workFlowTo.workflowToDesc}}</b> ({{workFlowTo.workflowToCode}})</span>
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 column-search mt-10">
                                        <div appearance="outline" class="search-results-count-box">
                                            <mat-form-field class="full-width">
                                                <input matInput required [matAutocomplete]="stageFromAutocomplete" (input)="getAutocompleteDropdown($event, 'stageFrom')"
                                                    placeholder="Min 3 Characters Ex. Ogs" formControlName="selectedStageFrom" />
                                                <button matSuffix mat-icon-button aria-label="Clear" (click)="clearAutoCompleted('stageFrom')">
                                                    <mat-icon class="mr-10 ">close</mat-icon >
                                                </button>
                                                <div style="margin-bottom: -30px">
                                                    <mat-icon class="mr-10" style="margin-top: -2px"
                                                        matSuffix></mat-icon>
                                                </div>
                                                <span matSuffix>
                                                    <mat-icon class="mr-10" matSuffix>search</mat-icon>
                                                </span>
                                                <mat-label>Stage From</mat-label>
                                                <mat-autocomplete [panelWidth]="450" #stageFromAutocomplete="matAutocomplete">
                                                    <ng-container>
                                                        <mat-option (click)="setAutocompleteDropdownSelectedData(stageFrom, 'stageFrom')" *ngFor="let stageFrom of filteredStageFrom" [value]="stageFrom.stageFromDesc">
                                                            <span><b>{{stageFrom.stageFromDesc}}</b> ({{stageFrom.stageFromCode}})</span>
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 column-search mt-10">
                                        <div appearance="outline" class="search-results-count-box">
                                            <mat-form-field class="full-width">
                                                <input matInput required [matAutocomplete]="stageToAutocomplete" (input)="getAutocompleteDropdown($event, 'stageTo')"
                                                    placeholder="Min 3 Characters Ex. Ogs" formControlName="filteredStageTo" />
                                                <button matSuffix mat-icon-button aria-label="Clear" (click)="clearAutoCompleted('stageTo')">
                                                    <mat-icon class="mr-10">close</mat-icon>
                                                </button>
                                                <div style="margin-bottom: -30px">
                                                    <mat-icon class="mr-10" style="margin-top: -2px"
                                                        matSuffix></mat-icon>
                                                </div>
                                                <span matSuffix>
                                                    <mat-icon class="mr-10" matSuffix>search</mat-icon>
                                                </span>
                                                <mat-label>Stage To</mat-label>
                                                <mat-autocomplete [panelWidth]="450" #stageToAutocomplete="matAutocomplete">
                                                    <ng-container>
                                                        <mat-option (click)="setAutocompleteDropdownSelectedData(stageTo, 'stageTo')" *ngFor="let stageTo of filteredStageTo" [value]="stageTo.stageToDesc">
                                                            <span><b>{{stageTo.stageToDesc}}</b> ({{stageTo.stageToCode}})</span>
                                                        </mat-option>
                                                    </ng-container>
                                                </mat-autocomplete>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-lg-8 column-search mt-10">
                                        <mat-form-field class="example-full-width" style="width: 100%;">
                                            <textarea autocomplete="off" style="height: 75px;" matInput [(ngModel)]="WorkflowNotes" formControlName="WorkflowNotes" 
                                                placeholder="Notes"></textarea>
                                        </mat-form-field>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="row mt-20">
                                <div style="text-align: right; width: 98%;">
                                    <button class="cursor" style="color: #bd3640 !important;" mat-raised-button (click)="submitCopyWorkflow()" [disabled]="copyWorkflowForm.invalid || disableSubmitbutton()"
                                        class="mr-10">Submit</button>
                                    <button class="cursor" style="color: #bd3640 !important;" mat-raised-button  (click)="clearCopyWorkflowFields()"
                                        class="mr-10">Cancel</button>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </mat-card>
        </form>
    </div>

</div>