@use 'styles/abstracts/variables' as *;

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

th.mat-mdc-header-cell,
td.mat-mdc-cell,
td.mat-footer-cell {
  padding: 9px;
  border-width: 1px;
  border-style: solid;
  border-color: #75757e2e;
}

.mat-mdc-header-cell {
  font-size: 13px;
  font-weight: bold;
}

::ng-deep .mat-mdc-form-field-appearance-outline .mat-mdc-form-field-infix {
  padding-top: 5px;
}

::ng-deep .mat-mdc-select-panel {
  margin-top: 45px;
}

.mat-mdc-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.close-btn-outer{
  position: relative;
}

.close-btn-inner{
  position: absolute;
  right: -9px;
  top: -17px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

/* .example-full-width {
  width: 100%;
} */
.mat-mdc-mini-fab{
  box-shadow: none;
}
.mat-mdc-unelevated-button.mat-accent, .mat-mdc-unelevated-button.mat-accent, .mat-mdc-fab.mat-accent, .mat-mdc-mini-fab.mat-accent{
  background-color: none !important;
}