<!-- <app-landing-header [headerMenu]="headerMenu" [selectedIndex]="selectedIndex"
    (emitcurrentTabSelection)="getHeaderTabSelection($event)"></app-landing-header>
<div class="d-height" [ngClass]="selectedPage == 'selectVisit' ? '' : 'dispnone'">
    <app-consolidatedreview-search (emitTabData)="emitTabData($event)"></app-consolidatedreview-search>
</div>
<div class="d-height" *ngIf="selectedPage == 'visitDetails'">
    <app-consolidatedreview-details [visitSelectedData]="visitSelectedData" (emitTabData)="emitTabData($event)"
        (emitEnhancedData)="emitEnhancedData($event)"></app-consolidatedreview-details>
</div> -->

<!-- ConsolidatedReviewContainer.component.html -->
<app-landing-header [headerMenu]="headerMenu" [selectedIndex]="selectedIndex"
    (emitcurrentTabSelection)="getHeaderTabSelection($event)"></app-landing-header>

<div class="d-height" [ngClass]="selectedPage == 'selectVisit' ? '' : 'dispnone'">
    <app-consolidatedreview-search [currentTabId]="currentTabId" (emitTabData)="emitTabData($event)">
    </app-consolidatedreview-search>
</div>

<div class="d-height" *ngIf="selectedPage == 'visitDetails'">
    <app-consolidatedreview-details [visitSelectedData]="visitSelectedData" [currentTabId]="currentTabId"
        (emitTabData)="emitTabData($event)" (emitEnhancedData)="emitEnhancedData($event)">
    </app-consolidatedreview-details>
</div>