<div style="padding: 0px;">
  <div class="row p-1 popup-title">
    <div class="col-md-9 col-lg-9">
      <h6 mat-dialog-title>Additional Support</h6>
    </div>
    <div class="col-md-3 col-lg-3 text-right">
      <button mat-icon-button class="close-button" [mat-dialog-close]="true" matTooltip="Close">
        <mat-icon class="close-icon" color="warn">close</mat-icon>
      </button>
    </div>
  </div>

  <div class="row column-search mt-3 mb-3">
    <div class="col-lg-4">
      <mat-form-field class="full-width">
        <mat-label>Program Name</mat-label>
        <input readonly matInput [value]="directorVisitSelectedData.programName || 'Not Available'">
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-form-field class="full-width">
        <mat-label>Review Type</mat-label>
        <input readonly matInput
          [value]="(directorVisitSelectedData.rvw_type_desc || '') + ' (' + (directorVisitSelectedData.rvw_type || '') + ')'">
      </mat-form-field>
    </div>
    <div class="col-lg-4">
      <mat-form-field class="full-width">
        <mat-label>Sub Recipient</mat-label>
        <input readonly matInput
          [value]="(directorVisitSelectedData.sub_rec_name || '') + ' (' + (directorVisitSelectedData.sub_rec_cd || '') + ')'">
      </mat-form-field>
    </div>
  </div>

  <mat-dialog-content>
    <mat-tab-group animationDuration="200ms" #tabGroup (selectedTabChange)="tabChanged($event)">
      <!-- Miscellaneous Tab -->
      <mat-tab label="Miscellaneous">
        <app-miscdata-dialog></app-miscdata-dialog>
      </mat-tab>

      <!-- Add Other Document Tab -->
      <mat-tab label="Add Other Document">
        <form [formGroup]="documentAddForm">
          <fieldset formGroupName="documentDetailsForm">
            <div class="row mt-3">
              <div class="col-lg-4">
                <mat-form-field class="full-width">
                  <mat-label>Document Name *</mat-label>
                  <input formControlName="docName" matInput placeholder="Enter document name" required>
                  <mat-error *ngIf="documentAddForm.get('documentDetailsForm.docName')?.invalid && 
                    documentAddForm.get('documentDetailsForm.docName')?.touched">
                    Document name is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field class="full-width">
                  <mat-label>Document Category *</mat-label>
                  <mat-select formControlName="docCat" required>
                    <mat-option *ngFor="let docCategory of documentCategoryList" [value]="docCategory.refCode">
                      {{ docCategory.refCode ? docCategory.refDesc + " (" + docCategory.refCode + ")" :
                      docCategory.refDesc }}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="documentAddForm.get('documentDetailsForm.docCat')?.invalid && 
                    documentAddForm.get('documentDetailsForm.docCat')?.touched">
                    Document category is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-4 mt-2">
                <mat-label class="mr-3">Type *</mat-label>
                <mat-radio-group formControlName="docType">
                  <mat-radio-button *ngFor="let item of formType" class="mr-3"
                    [value]="item.value">{{item.type}}</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>

            <div class="row mt-3" *ngIf="documentAddForm.get('documentDetailsForm.docType')?.value === 'A'">
              <div class="col-lg-4 mt-2">
                <mat-label class="mr-3">Validity</mat-label>
                <mat-radio-group formControlName="entType">
                  <mat-radio-button *ngFor="let item of validityType" class="mr-3"
                    [value]="item.value">{{item.type}}</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </fieldset>
        </form>

        <!-- Attachment Rules -->
        <div *ngIf="documentAddForm.get('documentDetailsForm.docType')?.value === 'A'" class="col-lg-12 mt-4">
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="mat-panel-title-span">Attachment Rules</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row mt-3">
                <app-attachment [data]="'new'" [isDocModelEdit]="true"
                  (attachmentEvent)="getAttachmentEventForm($event)"></app-attachment>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <!-- Validity Rules -->
        <div *ngIf="documentAddForm.get('documentDetailsForm.docType')?.value === 'A' && 
                   documentAddForm.get('documentDetailsForm.entType')?.value !== 'N'" class="col-lg-12 mt-4">
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="mat-panel-title-span">Validity Rules</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row mt-3">
                <div class="col-lg-12">
                  <mat-form-field class="full-width">
                    <mat-label>Comment</mat-label>
                    <textarea matInput rows="3" placeholder="Enter validity comment"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <!-- Form Rules -->
        <div *ngIf="documentAddForm.get('documentDetailsForm.docType')?.value === 'F'" class="col-lg-12 mt-4">
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="mat-panel-title-span">Form Rules</span>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row mt-3">
                <app-form [data]="'new'" (formItemEvent)="getFormEvent($event)"></app-form>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <!-- Submission Section -->
        <div class="col-lg-12 mt-4">
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="mat-panel-title-span">Submission</span>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="row mt-3">
                <div class="col-lg-4">
                  <mat-label class="mr-3">Document Upload Type</mat-label>
                  <mat-radio-group [(ngModel)]="uploadDocTypeValue" [ngModelOptions]="{standalone: true}">
                    <mat-radio-button *ngFor="let item of docUploadType" class="mr-3"
                      [value]="item.value">{{item.type}}</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="col-lg-8" *ngIf="uploadDocTypeValue === 'E'">
                  <div class="row align-items-center">
                    <div class="col-lg-3">
                      <label class="form-label">File Upload</label>
                    </div>
                    <div class="col-lg-7">
                      <input class="form-control form-control-sm" type="file"
                        (change)="onFileSelected($event, 'document')" [disabled]="uploadDocTypeValue !== 'E'">
                    </div>
                    <div class="col-lg-2 text-right">
                      <button mat-raised-button color="primary" class="btn-sm"
                        [disabled]="!selectedFile || uploadDocTypeValue !== 'E'" (click)="uploadDocument()">
                        Upload
                      </button>
                    </div>
                  </div>
                  <div class="row mt-2" *ngIf="selectedFileName">
                    <div class="col-lg-12">
                      <small class="text-muted">Selected: {{selectedFileName}}</small>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-lg-12">
                  <mat-form-field class="full-width">
                    <mat-label>Comment</mat-label>
                    <textarea matInput rows="3" placeholder="Enter submission comment"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <!-- Save/Cancel Buttons for Document Tab -->
        <div class="row mt-4">
          <div class="col-lg-12 text-right">
            <button mat-raised-button color="primary" class="mr-2" [disabled]="documentAddForm.invalid"
              (click)="saveDocument()">
              Save Document
            </button>
            <button mat-raised-button [mat-dialog-close]>
              Cancel
            </button>
          </div>
        </div>
      </mat-tab>

      <!-- Add Other Support Tab -->
      <mat-tab label="Add Other Support">
        <div class="col-lg-12 mt-3">
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="mat-panel-title-span">Comment</span>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="row mt-3">
                <div class="col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Comment Type</mat-label>
                    <mat-select [(ngModel)]="selectedCommentType">
                      <mat-option *ngFor="let type of commentTypeList" [value]="type.refCode">
                        {{type.refDesc}} ({{type.refCode || 'N/A'}})
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-4">
                  <mat-form-field class="full-width">
                    <mat-label>Title</mat-label>
                    <input matInput [value]="userDetails?.fullName || 'User'" readonly>
                  </mat-form-field>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-lg-12">
                  <mat-form-field class="full-width">
                    <mat-label>Comment</mat-label>
                    <textarea matInput rows="5" placeholder="Enter your comment here..."
                      [(ngModel)]="supportComment"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div class="col-lg-12 mt-4">
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="mat-panel-title-span">Submission</span>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="row mt-3">
                <div class="col-lg-4">
                  <mat-label class="mr-3">Document Upload Type</mat-label>
                  <mat-radio-group [(ngModel)]="uploadSupportTypeValue" [ngModelOptions]="{standalone: true}">
                    <mat-radio-button *ngFor="let item of docUploadType" class="mr-3"
                      [value]="item.value">{{item.type}}</mat-radio-button>
                  </mat-radio-group>
                </div>

                <div class="col-lg-8" *ngIf="uploadSupportTypeValue === 'E'">
                  <div class="row align-items-center">
                    <div class="col-lg-3">
                      <label class="form-label">File Upload</label>
                    </div>
                    <div class="col-lg-7">
                      <input class="form-control form-control-sm" type="file"
                        (change)="onFileSelected($event, 'support')" [disabled]="uploadSupportTypeValue !== 'E'">
                    </div>
                    <div class="col-lg-2 text-right">
                      <button mat-raised-button color="primary" class="btn-sm"
                        [disabled]="!selectedSupportFile || uploadSupportTypeValue !== 'E'"
                        (click)="uploadSupportDocument()">
                        Upload
                      </button>
                    </div>
                  </div>
                  <div class="row mt-2" *ngIf="selectedSupportFileName">
                    <div class="col-lg-12">
                      <small class="text-muted">Selected: {{selectedSupportFileName}}</small>
                    </div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <!-- Save/Cancel Buttons for Support Tab -->
        <div class="row mt-4">
          <div class="col-lg-12 text-right">
            <button mat-raised-button color="primary" class="mr-2" [disabled]="!supportComment" (click)="saveSupport()">
              Save Support
            </button>
            <button mat-raised-button [mat-dialog-close]>
              Cancel
            </button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
</div>


<!-- <div *ngIf="showSpinner" class="showSpinner">
  <mat-spinner [diameter]="50"></mat-spinner>
</div> 

<div style="padding: 0px;">
  <div class="row p-1 popup-title">
    <div class="col-md-9 col-lg-9">
      <h6 mat-dialog-title>Additional Support</h6>
    </div>
    <div class="col-md-3 col-lg-3">
      <button mat-icon-button class="close-button" [mat-dialog-close]="true">
        <mat-icon class="close-icon" color="warn">close</mat-icon>
      </button>
    </div>
    <div class="row column-search mt-20">
      <div class="col-lg-3">
        <mat-form-field class="full-width">
          <mat-label for="search">Program Name</mat-label>
          <input readonly disabled="true" autocomplete="off" matInput [value]="directorVisitSelectedData.programName">
        </mat-form-field>
      </div>
      <div class="col-lg-3">
        <mat-form-field class="full-width">
          <mat-label for="search">Review Type</mat-label>
          <input readonly disabled="true" autocomplete="off" matInput
            [value]="directorVisitSelectedData.rvw_type_desc + ' (' + directorVisitSelectedData.rvw_type + ')'">
        </mat-form-field>
      </div>
      <div class="col-lg-3">
        <mat-form-field class="full-width">
          <mat-label for="search">Sub Recipient</mat-label>
          <input readonly disabled="true" autocomplete="off" matInput
            [value]="directorVisitSelectedData.sub_rec_name + ' (' + directorVisitSelectedData.sub_rec_cd + ')'">
        </mat-form-field>
      </div>
    </div>
  </div>
  <mat-dialog-content>
    <mat-tab-group animationDuration="0ms" #tabGroup (selectedTabChange)="tabChanged($event)">
      <mat-tab label="Miscellaneous" style="overflow-x: hidden">
        <app-miscdata-dialog></app-miscdata-dialog>
      </mat-tab>

      <mat-tab label="Add Other Document" style="overflow-x: hidden">
        <form [formGroup]="documentAddForm">
          <fieldset formGroupName="documentDetailsForm">
            <div class="row mt-3" style="width: 100%">
              <div class="col-lg-3">
                <mat-form-field matTooltip="Program name" class="full-width">
                  <mat-label>Document Name</mat-label>
                  <input formControlName="docName" autocomplete="off" matInput placeholder="Document name" required />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field matTooltip="Example : Choose an option from the drop down" class="w-100">
                  <mat-label>Document Category</mat-label>
                  <mat-select formControlName="docCat">
                    <mat-option style="color: rgb(9, 2, 2)" *ngFor="let docCategory of documentCategoryList"
                      [value]="docCategory.refCode">
                      {{ docCategory.refCode ? docCategory.refDesc + " (" + docCategory.refCode + ") " :
                      docCategory.refDesc }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-3 mt-10">
                <mat-label class="mr-10">Type</mat-label>
                <mat-radio-group>
                  <mat-radio-button *ngFor="let item of formType" class="mr-10" [checked]="item.active"
                    (change)="onDocumentTypeChange(item.type)" [value]="item.value">{{item.type}}</mat-radio-button>
                </mat-radio-group>
              </div>
              <div *ngIf="docType === 'Attachment'" class="col-lg-3 mt-10">
                <mat-label class="mr-10">Validity</mat-label>
                <mat-radio-group>
                  <mat-radio-button *ngFor="let item of validityType" class="mr-10" [checked]="item.active"
                    (change)="onValidityTypeChange(item.type)" [value]="item.value">{{item.type}}</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </fieldset>
        </form>
        <div *ngIf="docType === 'Attachment'" class="col-lg-12 mt-10">
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header #panelSearch class="mat-expansion-panel-header">
                <mat-panel-title>
                  <div class="row" style="width: 100%;">
                    <div class="col-lg-4">
                      <span class="mat-panel-title-span"> Attachment Rules
                      </span>
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row column-search col-lg-12 mt-20">
                <app-attachment [data]="'new'" *ngIf="docType === 'Attachment'"
                  (attachmentEvent)="GetAttachmentEventForm($event)"></app-attachment>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div *ngIf="docType === 'Attachment' && valType !== 'NA'" class="col-lg-12 mt-10">
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header #panelSearch class="mat-expansion-panel-header">
                <mat-panel-title>
                  <div class="row" style="width: 100%;">
                    <div class="col-lg-4">
                      <span class="mat-panel-title-span"> Validity Rules
                      </span>
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row column-search col-lg-9 mt-20">
                <mat-form-field class="full-width">
                  <mat-label for="search">Comment</mat-label>
                  <textarea autocomplete="off" matInput rows="2"></textarea>
                </mat-form-field>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div *ngIf="docType === 'Form'" class="col-lg-12 mt-10">
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header #panelSearch class="mat-expansion-panel-header">
                <mat-panel-title>
                  <div class="row" style="width: 100%;">
                    <div class="col-lg-4">
                      <span class="mat-panel-title-span">Form Rules
                      </span>
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row column-search col-lg-12 mt-20">
                <app-form [data]="'new'" *ngIf="docType === 'Form'" (formItemEvent)="GetFormEvent($event)"></app-form>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="col-lg-12 mt-10">
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header #panelSearch class="mat-expansion-panel-header">
                <mat-panel-title>
                  <div class="row" style="width: 100%">
                    <div class="col-lg-4">
                      <span class="mat-panel-title-span">Submission</span>
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row column-search mt-20">
                <div class="col-lg-4 mt-10">
                  <mat-label class="mr-10"> Document Upload Type </mat-label>
                  <mat-radio-group>
                    <mat-radio-button *ngFor="let item of docUploadType" class="mc-10"
                      (change)="changeDocUploadType(item.value)" [value]="item.value" [checked]="item.active">
                      {{item.type}}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-2">
                      <label for="formFileSm" class="form-label">File Upload</label>
                    </div>
                    <div class="col-lg-8">
                      <input class="form-control form-control-sm" id="formfile" [formControl]="fileUploadCtrl"
                        type="file" [ngClass]="uploadDocTypeValue !== 'E' ? 'disable-field' : ''"
                        (change)="onFileSelected($event)">
                    </div>
                    <div class="col-lg-2">
                      <button style="color: #db3640 !important; float: right" mat-raised-button class="mr-10"
                        [ngClass]="uploadDocTypeValue != 'E' ? 'disable-field' : ''">
                        Upload
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row column-search col-lg-9 mt-20">
                <mat-form-field class="full-width">
                  <mat-label>Comment</mat-label>
                  <textarea matInput placeholder="off" rows="2"> </textarea>
                </mat-form-field>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </mat-tab>

      <mat-tab label="Add Other Support" style="overflow-x: hidden">
        <div class="col-lg-12 mt-10">
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header #panelSearch class="mat-expansion-panel-header">
                <mat-panel-title>
                  <div class="row" style="width: 100%;">
                    <div class="col-lg-4">
                      <span class="mat-panel-title-span">Comment</span>
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row column-search mt-20">
                <div class="col-lg-3">
                  <mat-form-field>
                    <mat-label>Comment Type</mat-label>
                    <mat-select [(value)]="selectedRole">
                      <mat-option style="color: rgb(9, 2, 2);" *ngFor="let role of commentTypeList"
                        [value]="role.refCode">
                        {{role.refCode ? role.refDesc + " (" + role.refCode + ") : role.refDesc}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-3">
                  <mat-form-field class="full-width">
                    <mat-label for="search">Title</mat-label>
                    <input autocomplete="off" matInput [value]="userDetails.fullName" />
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-9">
                <mat-form-field class="full-width">
                  <mat-label for="search">Comment</mat-label>
                  <textarea autocomplete="off" matInput rows="5"></textarea>
                </mat-form-field>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>

        <div class="col-lg-12 mt-10">
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header #panelSearch class="mat-expansion-panel-header">
                <mat-panel-title>
                  <div class="row" style="width: 100%;">
                    <div class="col-lg-4">
                      <span class="mat-panel-title-span">Submission</span>
                    </div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row column-search mt-20">
                <div class="col-lg-4 mt-10">
                  <mat-label class="mr-10">Document Upload Type</mat-label>
                  <mat-radio-group>
                    <mat-radio-button *ngFor="let item of docUploadType" class="mr-10" [checked]="item.active"
                      (change)="changeSupportUploadType(item.value)" [value]="item.value">{{ item.type
                      }}</mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="col-lg-6">
                  <div class="row">
                    <div class="col-lg-2">
                      <label for="formFilesSm" class="form-label">File Upload</label>
                    </div>
                    <div class="col-lg-8">
                      <input class="form-control form-control-sm" id="formFile" [formControl]="fileUploadCtrl"
                        [ngClass]="uploadSupportTypeValue !== 'E' ? 'disable-field' : ''"
                        (change)="onFileSelected($event)" type="file" />
                    </div>
                    <div class="col-lg-2">
                      <button style="color: #bd3640 !important; float: right" mat-raised-button class="mr-10"
                        [ngClass]="uploadSupportTypeValue !== 'E' ? 'disable-field' : ''">
                        Upload
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <div class="row mt-20">
          <div style="text-align: right; width: 98%;">
            <button class="cursor" style="color: #bd3640 !important" mat-raised-button class="mr-10"
              [ngClass]="!isAddOrEdit? 'disable-field' : ''" [mat-dialog-close]>Save</button>
            <button class="cursor" style="color: #bd3640 !important" mat-raised-button class="mr-10"
              [mat-dialog-close]>Cancel</button>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
</div> -->