<div>
  <div class="row p-1 ">
    <div class="col-md-10 float-right">
      <h6 md-dialog-title>Compliance Plan Reminder</h6>
    </div>

    <div *ngIf="!isEdit" class="col-md-1 ms-4 mt-1 float-right">
      <button (click)="addNewRemind()" class="mt-1" mat-button color="primary">
        <mat-icon color="accent">add</mat-icon>Add remind
      </button>
    </div>


  </div>

  <hr>
  <md-dialog-content>
    <div class="row" style="width: 100%;">

      <div [ngClass]="{'col-lg-8':isEdit,'col-lg-12':!isEdit}" style="margin-top:-18px;border-right:1px solid #efefef">
        <table mat-table [dataSource]="dataSourceRemainder" multiTemplateDataRows style="width: 100%;">
          <!-- <ng-container matColumnDef="{{column.key}}" *ngFor="let column of columnsToDisplay">
            <th width="20" mat-header-cell *matHeaderCellDef> {{column.name}} </th>
            <td width="20" mat-cell *matCellDef="let element"> {{element[column.key]}} </td>
          </ng-container> -->

          <ng-container matColumnDef="scheduleDaysOffsetFromDueDate">

            <th style="padding:5px;font-weight:500;font-size:14px;color:black" mat-header-cell *matHeaderCellDef> Due
              Date offset </th>

            <td width="30" style="padding:5px;font-size:12px;" mat-cell *matCellDef="let element">
              <mat-icon>
                {{ element.expanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
              </mat-icon> <span style="margin-top: 5px; position: fixed;margin-left: 20px;">
                {{element.scheduleDaysOffsetFromDueDate}} </span>
            </td>
          </ng-container>
          <ng-container matColumnDef="emailTemplateId">



            <th style="padding:5px;font-weight:500;font-size:14px;color:black" mat-header-cell *matHeaderCellDef> Email
              Template </th>

            <td width="30" style="padding:5px;font-size:12px;" mat-cell *matCellDef="let element">
              {{element.emailTemplate.templateName}} </td>
          </ng-container>
          <ng-container matColumnDef="toContact">

            <th style="padding:5px;font-weight:500;font-size:14px;color:black" mat-header-cell *matHeaderCellDef> TO
              Contact types </th>

            <td width="30" style="padding:5px;font-size:12px;" mat-cell *matCellDef="let element">
              <span *ngFor="let to of element.rvwTypeCompliancePlanSubmissionReminderAddresses;  let last= last ">
                <span *ngIf="to.receiptType==='TO';">{{to.addressValue}}<span *ngIf="!last">,</span></span></span>
            </td>
          </ng-container>
          <ng-container matColumnDef="ccContact">

            <th style="padding:5px;font-weight:500;font-size:14px;color:black" mat-header-cell *matHeaderCellDef> CC
              Contact types </th>

            <td width="30" style="padding:5px;font-size:12px;" mat-cell *matCellDef="let element">
              <span *ngFor="let to of element.rvwTypeCompliancePlanSubmissionReminderAddresses;  let last= last ">
                <span *ngIf="to.receiptType==='CC'">{{to.addressValue}}<span *ngIf="!last">,</span></span></span>
            </td>
          </ng-container>
          <ng-container matColumnDef="bccContact">

            <th style="padding:5px;font-weight:500;font-size:14px;color:black" mat-header-cell *matHeaderCellDef> BCC
              Contact types </th>

            <td width="30" style="padding:5px;font-size:12px;" mat-cell *matCellDef="let element">
              <span *ngFor="let to of element.rvwTypeCompliancePlanSubmissionReminderAddresses; let last= last ">
                <span *ngIf="to.receiptType==='BCC'">{{to.addressValue}}<span *ngIf="!last">,</span></span></span>
            </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="example-element-detail" [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'">
                <div class="row p-1">
                  <div class="col-lg-3">
                    <label style="font-size: 14px;color: black;">Created On</label>
                    <div style="font-size: 12px;">November 5, 2021</div>
                  </div>
                  <div class="col-lg-3">
                    <label style="font-size: 14px;color: black">Created By</label>
                    <div style="font-size: 12px;">Suresh</div>
                  </div>
                  <div class="col-lg-3">
                    <label style="font-size: 14px;color: black">Updated On</label>
                    <div style="font-size: 12px;">November 15, 2021</div>
                  </div>
                  <div class="col-lg-3">
                    <label style="font-size: 14px;color: black">Updated By</label>
                    <div style="font-size: 12px;">Suresh</div>
                  </div>

                </div>

                <!-- <table >
              <tr>
                <th>Created</th>
                <th>Created By</th>
                <th>Last Updated</th>
                <th>Last Updated By</th>
              </tr>
              <tr>
                <td>{{element.phone}}</td>
                <td>{{element.phone}}</td>
                <td>{{element.website}}</td>
                <td>{{element.company}}</td>
              </tr>
            </table> -->
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="element.expanded" (click)="toggleRow(element)">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
      </div>
      <div class=" col-lg-4" *ngIf="isEdit">
        <h6>Add remind</h6>
        <form [formGroup]="remainderForm">
          <div class="p-2" style="height: 300px;overflow:auto;">
            <mat-form-field appearance="standard" style="width: 100%;">
              <mat-label>Due Date offset</mat-label>
              <input formControlName="scheduleDaysOffsetFromDueDate" matInput placeholder="Due Date offset"
                required="true">
            </mat-form-field>


            <mat-form-field appearance="standard">
              <mat-label>Email Template</mat-label>
              <mat-select formControlName="emailTemplateId">
                <mat-option (click)="onChangeEmail(email)" style="color: rgb(9, 2, 2);"
                  *ngFor="let email of emailTemplateList" [value]="email.emailTemplateId">
                  {{email.templateName}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="remainderForm.get('emailTemplateId')?.hasError('required')">
                Please select website
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>To Contact Types</mat-label>
              <mat-select multiple formControlName="to">
                <mat-option style="color: rgb(9, 2, 2);" *ngFor="let contact of contactTypeList"
                  [value]="contact.refCode">
                  {{contact.refDesc}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="remainderForm.get('to')?.hasError('required')">
                Please select website
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>CC Contact Types</mat-label>
              <mat-select multiple formControlName="cc">
                <mat-option style="color: rgb(9, 2, 2);" *ngFor="let contact of contactTypeList"
                  [value]="contact.refCode">
                  {{contact.refDesc}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="remainderForm.get('cc')?.hasError('required')">
                Please select website
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>BCC Contact Types</mat-label>
              <mat-select multiple formControlName="bcc">
                <mat-option style="color: rgb(9, 2, 2);" *ngFor="let contact of contactTypeList"
                  [value]="contact.refCode">
                  {{contact.refDesc}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="remainderForm.get('bcc')?.hasError('required')">
                Please select website
              </mat-error>
            </mat-form-field>
          </div>
          <div class="" style="margin:20px">
            <button class="col-lg-2 " (click)="isEdit=!isEdit" mat-button>Cancel</button>
            <button class="col-lg-2 " (click)="saveReminder(newObject)" mat-raised-button color="primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </md-dialog-content>


</div>