.text-center{
    text-align: center;
} 

.access-denied{
    font-weight: 700;
}

.auth-error.card{
    height: calc(100vh -140px);
    align-items: center;
    display: flex;
    justify-content: center;
}
.d-height{
    min-height: 500px;
}
.auth-center{
    justify-content: center;
    display: flex;
    z-index: 9;
    align-items: center;
    inset: 0;
    width: 100%;
  }