a:hover,
a:active,
a:focus {
  color: black !important;
  background-color: white !important;
  text-decoration: none;
  font-size: 14px;
}
a {
  color: white !important;
  background-color: #112e51 !important;
  text-decoration: none;
  font-size: 14px;
}
.active-a {
  color: black !important;
  background-color: white !important;
  text-decoration: none;
  font-size: 14px;
}
