<div id="sidebar-wrapper" style="z-index: 999;">
  <ul id="sidebar" class="sidebar-nav w-100">
    <li>
      <a (click)="navigateToProgramInfo()" routerLinkActive="active-link"
        [ngClass]="{'selected-side-menu': currentModule === 'ProgramInfo'}">Program Info</a>
    </li>
    <li *ngIf="reviewTypeToBeVisible" class="no-border">
      <a (click)="navigateToReviewType()" routerLinkActive="active-link"
        [ngClass]="{'selected-side-menu': currentModule === 'ReviewType'}">Review Types</a>
    </li>
    <li *ngIf="isCustomDocumentList" class="child-menu">
      <a (click)="navigateToDocumentList()" routerLinkActive="active-link"
        [ngClass]="{'selected-side-menu': currentModule === 'DocumentList'}" class="sidebar-child-menu">Master Document
        List</a>
    </li>
    <li *ngIf="isCustomFindings" class="child-menu">
      <a (click)="navigateToFindings()" routerLinkActive="active-link"
        [ngClass]="{'selected-side-menu': currentModule === 'Findings'}" class="sidebar-child-menu">Findings Setup</a>
    </li>
    <li *ngIf="isCustomFindingsRule" class="child-menu">
      <a (click)="navigateToFindingsRules()" routerLinkActive="active-link"
        [ngClass]="{'selected-side-menu': currentModule === 'FindingsRules'}" class="sidebar-child-menu">Findings Rules
        Setup</a>
    </li>
    <li *ngIf="isCustomStageRole" class="child-menu">
      <a (click)="navigateToStageRoles()" [ngClass]="{'selected-side-menu': currentModule === 'StageRoles('}"
        class="sidebar-child-menu">Stage
        Roles Setup</a>
    </li>
    <li *ngIf="!isNew" class="top-border">
      <a (click)="navigateToSubRecipient()" routerLinkActive="active-link"
        [ngClass]="{'selected-side-menu': currentModule === 'SubRecipient'}">Sub-recipient
        Selection</a>
    </li>
    <li *ngIf="!isNew">
      <a (click)="navigateToReleaseProgram()" routerLinkActive="active-link"
        [ngClass]="{'selected-side-menu': currentModule === 'ReleaseProgram'}">Release Program</a>
    </li>

    <!--
    <li>
      <a routerLink="/program/info/{{ programId }}" [queryParams]="{ id: programId, review: reviewType }"
        routerLinkActive="active">Program Info</a>
    </li>
    <li *ngIf="reviewTypeToBeVisible">
      <a routerLink="/program/review/{{ programId }}" [queryParams]="{ id: programId, review: reviewType }">Review
        Types</a>
    </li>
    <li class="doc-list master-doc-list" *ngIf="isCustomDocumentList">
      <a routerLink="/program/document/{{ programId }}" [queryParams]="{ id: programId, review: reviewType }"
        routerLinkActive="active">Master Document List</a>
    </li>
    <li class="doc-list findings-doc-list" *ngIf="isCustomFindings">
      <a routerLink="/program/findings/{{ programId }}" [queryParams]="{ id: programId, review: reviewType }"
        routerLinkActive="active">Findings Setup</a>
    </li>
    <li class="doc-list rule-doc-list" *ngIf="isCustomFindingsRule">
      <a routerLink="/program/finding-rules/{{ programId }}" [queryParams]="{ id: programId, review: reviewType }"
        routerLinkActive="active">Findings Rules Setup</a>
    </li>
    <li class="doc-list stage-doc-list" *ngIf="isCustomStageRole">
      <a routerLink="/program/stage-roles/{{ programId }}" [queryParams]="{ id: programId, review: reviewType }"
        routerLinkActive="active">Stage Roles Setup</a>
    </li>
    <li>
      <a routerLink="/program/sub-recipient/{{ programId }}" [queryParams]="{ id: programId, review: reviewType }"
        routerLinkActive="active">Sub-recipient Selection</a>
    </li>
    <li>
      <a routerLink="/program/release/{{ programId }}" [queryParams]="{ id: programId, review: reviewType }"
        routerLinkActive="active">Release Program</a>
    </li> -->
    <!-- [ngClass]="{'selected-side-menu': currentModule === 'ProgramInfo'}" -->
  </ul>
</div>