table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
  padding: 9px;
  border-width: 1px;
  border-style: solid;
  border-color: #75757e2e;
}

.mat-header-cell {
  font-size: 13px;
  font-weight: bold;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding-top: 5px;
}

::ng-deep .mat-select-panel {
  margin-top: 45px;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

.no-records {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.opacity-record {
  opacity: 0.5
}