<form [formGroup]="documentListForm">
  <div class="row mt-3">
    <div class="col-md-6">
      <label id="example-radio-group-label">Document Owner</label>
      <div class="clearfix"></div>
      <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="documentOwnerCtrl"
        class="radio-group" (change)="onDocumentOwnerChange($event)">
        <mat-radio-button class="radio-button col-md-3" *ngFor="let documentOwner of documentOwnerList"
          [value]="documentOwner">
          {{ documentOwner }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="col-md-4">
      <label id="example-radio-group-label">Status</label>
      <div class="clearfix"></div>
      <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="documentStatusCtrl"
        class="radio-group" (change)="onDocumentStatusChange($event)">
        <mat-radio-button class="radio-button col-md-3" *ngFor="let documentStatus of documentStatusList"
          [value]="documentStatus">
          {{ documentStatus }}
        </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <mat-accordion>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Advanced Search
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div *ngIf="!documentListForm.controls['advancedSearchCtrl'].value">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field matTooltip="Example : Choose an option from the drop down"
                  [matTooltipPosition]="tooltipPosition" class="w-100">
                  <mat-label>Document Category</mat-label>
                  <mat-select formControlName="documentCategoryCtrl">
                    <mat-option *ngFor="let documentCategory of documentCategoryList"
                      [value]="documentCategory.refCode">
                      {{documentCategory.refDesc}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field matTooltip="Example : Choose an option from the drop down"
                  [matTooltipPosition]="tooltipPosition" class="w-100">
                  <mat-label>Document Name</mat-label>
                  <mat-select formControlName="documentNameCtrl">
                    <mat-option *ngFor="let documentName of documents" [value]="documentName.docListId">
                      {{documentName.docName}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <label id="example-radio-group-label">Attachment</label>
                <div class="clearfix"></div>
                <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="documentAttachmentCtrl"
                  class="radio-group" (change)="onDocumentAttachmentChange($event)" [(ngModel)]="documentAttachment">
                  <mat-radio-button class="radio-button" *ngFor="let documentAttachment of documentAttachmentList"
                    [value]="documentAttachment">
                    {{ documentAttachment }}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="col-md-6">
                <label id="example-radio-group-label">Validity</label>
                <div class="clearfix"></div>
                <mat-radio-group aria-labelledby="example-radio-group-label" formControlName="documentValidityCtrl"
                  class="radio-group" (change)="onDocumentValidityChange($event)" [(ngModel)]="documentValidity">
                  <mat-radio-button class="radio-button" *ngFor="let documentValidity of documentValidityList"
                    [value]="documentValidity">
                    {{ documentValidity }}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="clearfix mt-3 mb-3">
        <button mat-raised-button color="primary" (click)="SearchDocuments()">
          <mat-icon>search</mat-icon>Search
        </button>
      </div>
    </div>
  </div>

  <div class="mat-elevation-z8 table-responsive mb-4">
    <table class="w-100 table-hover" mat-table [dataSource]="dataSourceDocuments" matSort>
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> # </th>
        <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
      </ng-container>

      <ng-container matColumnDef="documentName">
        <th mat-header-cell *matHeaderCellDef> Document Name </th>
        <td mat-cell *matCellDef="let element"> {{element.docName}} </td>
      </ng-container>

      <ng-container matColumnDef="documentCategory">
        <th mat-header-cell *matHeaderCellDef> Document Category </th>
        <td mat-cell *matCellDef="let element;">
          <mat-form-field>
            <mat-select formControlName="doctblCategoryCtrl">
              <mat-option style="color: rgb(9, 2, 2);" *ngFor="let docCategory of documentCategoryList"
                [value]="docCategory.refCode">
                {{docCategory.refDesc}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element;">
          <mat-form-field>
            <mat-select formControlName="doctblTypeCtrl">
              <mat-option style="color: rgb(9, 2, 2);" *ngFor="let docType of docTypeList" [value]="docType.item_id">
                {{docType.item_text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="entity">
        <th mat-header-cell *matHeaderCellDef> Entity </th>
        <td mat-cell *matCellDef="let element;">
          <mat-form-field>
            <mat-select formControlName="doctblEntityCtrl">
              <mat-option *ngFor="let docEntity of entityList" [value]="docEntity.item_id">
                {{docEntity.item_text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="default">
        <th mat-header-cell *matHeaderCellDef> Default </th>
        <td mat-cell *matCellDef="let element;">
          <mat-form-field>
            <mat-select formControlName="doctblDefaultCtrl">
              <mat-option style="color: rgb(9, 2, 2);" *ngFor="let docDefault of defaultList"
                [value]="docDefault.item_id">
                {{docDefault.item_text}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="inactive">
        <th mat-header-cell *matHeaderCellDef> Inactive </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef> +Info. </th>
        <td mat-cell *matCellDef="let element">
          <a href="javascript:void(0);" (click)="openDocumentListInfoDialog(documentListForm,element)">
            <mat-icon matSuffix mat-icon-button color="primary">add_card</mat-icon>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="remind">
        <th mat-header-cell *matHeaderCellDef> Remind </th>
        <td mat-cell *matCellDef="let element">
          <a href="javascript:void(0);" (click)="openDocumentListRemindersDialog()">
            <mat-icon matSuffix mat-icon-button color="primary">add_card</mat-icon>
          </a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedFields"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedFields;"></tr>
    </table>
  </div>
  <div class="alert alert-info">
    <div class="message">
      <div class="alert-icon"><span class="material-icons">info</span></div>
      <span class="d-inline">Parent = Sub-Recipient / Sponsor, Child = Building / Site</span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button type="button" class="btn btn-success nxt-btn float-right">
        <i class="fa-solid fa-floppy-disk"></i> Save
      </button>
      <button type="button" class="btn btn-default nxt-btn float-right">
        Cancel
      </button>
    </div>
  </div>
</form>