
.header{
    background: #112e51;
    border-radius: 5px;
    color: #fff;
}
.mt-5{
    margin-top: 5px !important;
}

.mat-column-date {
    word-wrap: break-word !important;
    white-space: unset !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .mat-column-author {
    word-wrap: break-word !important;
    white-space: unset !important;
    width: 15% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }