<header class="">
  <nav class="top-nav navbar-expand-sm w-100 mb-0 navbar navbar-inverse navbar-fixed-top">
    <ul class="navbar-nav float-left w-50">
      <li class="navbar-item">
        <a class="nav-link" href="/"><i class="fa-solid fa-house"></i> Home</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" href="/"><i class="fa fa-phone" aria-hidden="true"></i> Contact Us</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" href="/"><i class="fa-solid fa-location-crosshairs"></i> My.Com </a>
      </li>
    </ul>
    <ul class="navbar-nav w-50 txt-right">
      <li class="navbar-item">
        <a class="nav-link" href="/"><i class="fa-solid fa-clock"></i> {{timerVal}}</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" href="/"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout </a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" href="/"><i class="fa-solid fa-user"></i> Suresh</a>
      </li>
    </ul>
  </nav>

  <div
    class="wi-100 logo-section ds-base--inverse ds-u-padding--3 ds-u-display--flex ds-u-justify-content--between ds-u-align-items--center">
    <a href="/" title="GEMS">
      <img alt="GEMS" class="f1 dib w-12 -mt-10 mr-2 inline-block float-left mr-20"
        src="https://mdoe.state.mi.us/gems/AppFiles/AgencyLogo/PUB_logo_left.png" />
      <div class="logo-txt dib">
        <h1>Angular Demo App</h1>
        <h2>Admin</h2>
      </div>
    </a>
  </div>

  <nav class="navbar main-nav navbar-expand-sm mb-4 p-0">
    <h2 class="dni">Program Administration</h2>
    <ul class="w-100 navbar-nav">
      <li class="navbar-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="['active']">Dashboard</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="['active']">System Setup</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="['active']">User Security</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="['active']">Workflow Setup</a>
      </li>
      <li class="navbar-item active">
        <a class="nav-link" routerLink="/program" routerLinkActive="['active']">Program Administration</a>
      </li>
    </ul>
  </nav>
</header>
