// a.nav-link.active {
//     color: red !important;
//     font-weight: 600;
// }

// .nav-link {
//     color: black !important;
//     font-weight: 600;
// }


a.nav-link.active {
  color: red !important;
  font-weight: 600;
}

.nav-link {
  color: black !important;
  font-weight: 600;
}

table {
  width: 100%;
  overflow-x: auto;
}

.mat-form-field {
  width: 100%;
}