
<div style="padding: 0px;">
    <button style="float: right;background-color: white;" mat-button mat-dialog-close >X</button>
    
    <div class="row p-1 ">
      <div class="col-md-10 float-right">
        <h6 md-dialog-title>Add Document</h6>
      </div>

      <div  *ngIf="isAddRemainder" class="col-md-1 ms-4 mt-1 float-right">
        <button (click)="addNewRemind()" class="mt-1" mat-button color="primary">
          <mat-icon color="accent">add</mat-icon>Add remainder
        </button>
      </div>
  
      
  
  
    </div>
  
    <md-dialog-content>
        <mat-tab-group animationDuration="0ms" #tabGroup (selectedTabChange)="tabChanged($event)">
            <mat-tab  label="Details" style="overflow-x: hidden;"> 
                <form [formGroup]="documentAddForm">
                  <fieldset formGroupName="documentDetailsForm">
                <div class="row mt-3" style="width: 90%;">
                   
                <div class="col-lg-6 col-lg-6" >
                    <mat-form-field matTooltip="Program name"  class="full-width">
                      <mat-label>Document Name</mat-label>
                      <input formControlName="documentName" formControlName="name"  formcontr autocomplete="off" matInput placeholder="Program name"  required>
                     
                    </mat-form-field>
                  </div>
                <div class="col-md-6">
                  <mat-form-field matTooltip="Example : Choose an option from the drop down"
                     class="w-100">
                    <mat-label>Document Category</mat-label>
                    <mat-select formControlName="documentCategory" >
                        <mat-option style="color: rgb(9, 2, 2);" *ngFor="let docCategory of data.documentCategoryList"
                        [value]="docCategory.refCode">
                        {{docCategory.refDesc}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field matTooltip="Example : Choose an option from the drop down"
                       class="w-100">
                      <mat-label>Type</mat-label>
                      <mat-select  formControlName="documentType" >
                        <mat-option style="color: rgb(9, 2, 2);" (click)="onDocumentTypeChange(docType.item_text)" [value]="docType.item_id" *ngFor="let docType of data.docTypeList" >
                            {{docType.item_text}}
                          </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field matTooltip="Example : Choose an option from the drop down"
                       class="w-100">
                      <mat-label>Entity</mat-label>
                      <mat-select formControlName="documentEntity" >
                        <mat-option *ngFor="let docEntity of data.entityList"  [value]="docEntity.item_id">
                            {{docEntity.item_text}}
                          </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field matTooltip="Example : Choose an option from the drop down"
                       class="w-100">
                      <mat-label>Default</mat-label>
                      <mat-select  formControlName="documentDefault">
                        <mat-option  [value]="docDefault.item_id" style="color: rgb(9, 2, 2);" *ngFor="let docDefault of data.defaultList"
                       >
                        {{docDefault.item_text}}
                      </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">  <mat-checkbox formControlName="documentInactive">Inactive</mat-checkbox></div>
               </div>
              </fieldset></form> </mat-tab>
            <mat-tab *ngIf="docType!=''" [label]="docType">
              <app-attachment *ngIf="docType==='Attachment'"></app-attachment>
            <app-approvals *ngIf="docType==='Approvals'"></app-approvals>
          <app-eff *ngIf="docType==='EFF'"></app-eff>
        <app-form *ngIf="docType==='Form'"></app-form>
      <app-questionnaire *ngIf="docType==='Questionnaire'"></app-questionnaire></mat-tab>
            <mat-tab label="Remainder"><app-remainder [isRemainderForm]="isRemainderForm"></app-remainder></mat-tab>
          </mat-tab-group>
       

    
    </md-dialog-content>
<hr>
    <mat-dialog-actions align="end"  *ngIf="!isAddRemainder">
       
    
        <button mat-button mat-dialog-close>Cancel</button>
        <button class="" type="button" 
        mat-raised-button color="primary" (click)="saveDocument()" >Add</button>
        <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
       
      </mat-dialog-actions>
  
  
  </div>