<div id="sidebar-wrapper">
  <ul id="sidebar" class="sidebar-nav">
    <li>
      <a (click)="navigateToProgramInfo()" routerLinkActive="active-link"
        [ngClass]="currentModule === 'info' ? 'selected-side-menu': ''">Program Info</a>
    </li>
    <li class="no-border">
      <a (click)="navigateToReviewType()" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
        [ngClass]=" currentModule === 'review' ? 'selected-side-menu': '' ">Review Types</a>
    </li>
    <li class="child-menu">
      <a (click)="navigateToDocumentList()" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
        [ngClass]="currentModule === 'document' ? 'selected-side-menu': '' " class="sidebar-child-menu">Master Document List</a>
    </li>
    <li class="child-menu">
      <a (click)="navigateToFindings()" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"
        [ngClass]="{'selected-side-menu': currentModule === 'findings'}" class="sidebar-child-menu">Findings Setup</a>
    </li>
    <li class="child-menu">
      <a (click)="navigateToFindingsRules()" routerLinkActive="active-link"
        [ngClass]="{'selected-side-menu': currentModule === 'finding-rules'}" class="sidebar-child-menu">Findings Rules Setup</a>
    </li>
    <li class="child-menu">
      <a (click)="navigateToStageRoles()" [ngClass]="{'selected-side-menu': currentModule === 'stage-roles'}"
        class="sidebar-child-menu">Stage Roles Setup</a>
    </li>
    <li>
      <a (click)="navigateToReleaseProgram()" routerLinkActive="active-link"
        [ngClass]="{'selected-side-menu': currentModule === 'release'}">Release Program</a>
    </li>
    <li>
      <a (click)="navigateToPOC()" routerLinkActive="active-link"
        [ngClass]="{'selected-side-menu': currentModule === 'poc'}">POC MultiSelect</a>
    </li>
  </ul>
</div>
