<form [formGroup]="findingForm">
   <div class="row">
      <div class="col-lg-6">
         <div class="row">
            <mat-form-field class="full-width">
               <input matInput [matAutocomplete]="auto" [formControl]="searchCitation"
                  placeholder="Min 3 Characters Ex. Ogs" />
               <button *ngIf="searchCitation" matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection()">
                  <mat-icon>close</mat-icon>
               </button>
               <div style="margin-bottom: -30px">
                  <mat-icon style="margin-top: -2px" matSuffix></mat-icon>
               </div>
               <span matSuffix>
                  <mat-icon matSuffix>search</mat-icon>
               </span>
               <mat-label>Select Citation</mat-label>
               <mat-autocomplete [panelWidth]="670" #auto="matAutocomplete" [displayWith]="displayWith">
                  <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                  <ng-container *ngIf="!isLoading">
                     <mat-option (click)="onSelect(citation)" *ngFor="let citation of filteredCitation" [value]="citation">
                        <span><b>{{citation.cfaDesc}}</b>
                        </span>
                     </mat-option>
                  </ng-container>
               </mat-autocomplete>
            </mat-form-field>
            <p *ngIf="citationValue!=''" style="border: 1px solid #efefef; padding:20px">
   
               {{ citationValue.cfaDesc}}
            </p>
         </div>
         <div class="row">
            <mat-form-field class="full-width">
               <input matInput [matAutocomplete]="autoFinding" [formControl]="searchFinding"
                  placeholder="Min 3 Characters Ex. Ogs" />
               <button *ngIf="searchFinding" matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection1()">
                  <mat-icon>close</mat-icon>
               </button>
               <div style="margin-bottom: -30px">
                  <mat-icon style="margin-top: -2px" matSuffix></mat-icon>
               </div>
               <span matSuffix>
                  <mat-icon matSuffix>search</mat-icon>
               </span>
               <mat-label>Select Finding</mat-label>
               <mat-autocomplete [panelWidth]="670" #autoFinding="matAutocomplete" [displayWith]="displayWithFinding">
                  <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                  <ng-container *ngIf="!isLoading">
                     <mat-option (click)="selectFinding(find)" *ngFor="let find of filteredFinding" [value]="find">
                        <span><b>{{find.cfaDesc}}</b>
                        </span>
                     </mat-option>
                  </ng-container>
               </mat-autocomplete>
            </mat-form-field>
   
            <p *ngIf="findingValue!=''" style="border: 1px solid #efefef; padding:20px">
   
               {{ findingValue.cfaDesc}}
            </p>
         </div>
      </div>
      <div class="col-lg-6">
         <div class="row">
         <div class="col-lg-6">
            <mat-form-field matTooltip="Example : Choose an option from the drop down" class="full-width">
               <mat-label>Citation Category</mat-label>
               {{citationCat.value}}
               <mat-select formControlName="citationCat">
                  <mat-option style="color: rgb(9, 2, 2);" *ngFor="let cat of citationCategory" [value]="cat.refDesc">
                     {{cat.refDesc }}
                  </mat-option>
               </mat-select>
   
            </mat-form-field>
   
         </div>
         <div class="col-lg-6">
            <mat-form-field matTooltip="Example : Choose an option from the drop down" class="full-width">
               <mat-label>Finding Category</mat-label>
               <mat-select formControlName="findingCat">
                  <mat-option style="color: rgb(9, 2, 2);" *ngFor="let cat of findingCategory" [value]="cat.refDesc">
                     {{cat.refDesc }}
                  </mat-option>
               </mat-select>
   
            </mat-form-field>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-6">

               <label class="float-left">Edit</label>
               <mat-slide-toggle [checked]="findingEdit === 'Y' ? true : false" (change)="onEditAppToggle($event)"
                  class="float-right">
               </mat-slide-toggle>
            </div>
            <div class="col-lg-6">
               <label class="float-left">ARC</label>
               <mat-slide-toggle [checked]="findingARC === 'Y' ? true : false" (change)="onEditAppToggle($event)"
                  class="float-right">
               </mat-slide-toggle>
            </div>
         </div>
      </div>
     
     
   </div>

 
</form>