<div class="spinner" *ngIf="showSpinner">
    <div class="fa-3x">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>
<div>
    <mat-card>
        <div class="row" style="display: flex;">
            <div class="col-lg-12">
                <mat-accordion class="example-headers-align" multi>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header #panelSearch class="mat-expansion-panel-header">
                            <mat-panel-title>
                                <div class="row" style="width: 100%;">
                                    <div class="col-lg-4">
                                        <span class="mat-panel-title-span">Form Details
                                        </span>
                                    </div>
                                    <div class="col-lg-8" style="text-align: right;">
                                        <button class="mt-1 cursor" mat-button style="color: #bd3640;"
                                            (click)="panelSearch._toggle();">
                                            <mat-icon class="mr-10">preview</mat-icon>
                                            <span class="mt-20">Preview</span>
                                        </button>
                                        <button class="mt-1 cursor" mat-button style="color: #bd3640;"
                                            (click)="panelSearch._toggle();">
                                            <mat-icon class="mr-10">file_upload</mat-icon>
                                            <span class="mt-20">Update Form</span>
                                        </button>
                                        <button class="mt-1 cursor" mat-button style="color: #bd3640;"
                                            (click)="panelSearch._toggle(); saveEnhancedData()" [disabled]="responseData_EnhancedDetails?.name?.trim() == ''">
                                            <mat-icon class="mr-10">save</mat-icon>
                                            <span class="mt-20">Save</span>
                                        </button>
                                        <button class="mt-1 cursor" mat-button style="color: #bd3640;"
                                            (click)="panelSearch._toggle(); cancelEnhancedForm()">
                                            <mat-icon class="mr-10">cancel</mat-icon>
                                            <span class="mt-20">Cancel</span>
                                        </button>
                                    </div>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="row column-search mt-20">
                            <div class="col-lg-4 ">
                                <mat-form-field class="example-full-width" style="width: 98%;">
                                    <textarea autocomplete="off" style="height: 75px;" matInput
                                        [(ngModel)]="responseData_EnhancedDetails.formCode" placeholder="Form Code"></textarea>
                                </mat-form-field>
                            </div>
                            <div class=" col-lg-4">
                                <mat-form-field class="example-full-width" style="width: 98%;">
                                    <textarea autocomplete="off" style="height: 75px;" matInput
                                        [(ngModel)]="responseData_EnhancedDetails.name" placeholder="Form Name *"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4">
                                <mat-form-field class="example-full-width" style="width: 98%;">
                                    <textarea autocomplete="off" style="height: 75px;" matInput
                                        [(ngModel)]="responseData_EnhancedDetails.formDescription" placeholder="Description"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 mt-10 ">
                                <div appearance="outline" class="search-results-count-box">
                                    <mat-form-field class="full-width">
                                        <input matInput [matAutocomplete]="Office" [(ngModel)]="responseData_EnhancedDetails.off_name"
                                            placeholder="Min 3 Characters Ex. Ogs" />
                                        <button matSuffix mat-icon-button aria-label="Clear"
                                            (click)="clearAutoComplete('office')">
                                            <mat-icon class="mr-10">close</mat-icon>
                                        </button>
                                        <div style="margin-bottom: -30px">
                                            <mat-icon class="mr-10" style="margin-top: -2px" matSuffix></mat-icon>
                                        </div>
                                        <span matSuffix>
                                            <mat-icon class="mr-10" matSuffix>search</mat-icon>
                                        </span>
                                        <mat-label>Search Office</mat-label>
                                        <mat-autocomplete #Office="matAutocomplete">
                                            <ng-container>
                                                <mat-option *ngFor="let office of officeList"
                                                    (onSelectionChange)="changeAutoComplete('office', office, $event)"
                                                    [value]="office.offName + ' ('+ office.offCd+ ')'">
                                                    <span>{{office.offName}} ({{office.offCd}})</span>
                                                </mat-option>
                                            </ng-container>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-10 ">
                                <div appearance="outline" class="search-results-count-box">
                                    <mat-form-field class="full-width">
                                        <input matInput [matAutocomplete]="program"
                                            [(ngModel)]="responseData_EnhancedDetails.grant_Pgm_Desc"
                                            placeholder="Min 3 Characters Ex. Ogs" />
                                        <button matSuffix mat-icon-button aria-label="Clear"
                                            (click)="clearAutoComplete('program')">
                                            <mat-icon class="mr-10">close</mat-icon>
                                        </button>
                                        <div style="margin-bottom: -30px">
                                            <mat-icon class="mr-10" style="margin-top: -2px" matSuffix></mat-icon>
                                        </div>
                                        <span matSuffix>
                                            <mat-icon class="mr-10" matSuffix>search</mat-icon>
                                        </span>
                                        <mat-label>Search Program</mat-label>
                                        <mat-autocomplete #program="matAutocomplete">
                                            <ng-container>
                                                <mat-option *ngFor="let program of programList"
                                                    (onSelectionChange)="changeAutoComplete('program', program, $event)"
                                                    [value]="program.grantPgmDesc + ' ('+ program.grantPgm+ ')'">
                                                    <span>{{program.grantPgmDesc}} ({{program.grantPgm}})</span>
                                                </mat-option>
                                            </ng-container>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-10 ">
                                <div appearance="outline" class="search-results-count-box">
                                    <mat-form-field class="full-width">
                                        <input matInput [matAutocomplete]="review"
                                            [(ngModel)]="responseData_EnhancedDetails.rvw_Desc"
                                            placeholder="Min 3 Characters Ex. Ogs" />
                                        <button matSuffix mat-icon-button aria-label="Clear"
                                            (click)="clearAutoComplete('review')">
                                            <mat-icon class="mr-10">close</mat-icon>
                                        </button>
                                        <div style="margin-bottom: -30px">
                                            <mat-icon class="mr-10" style="margin-top: -2px" matSuffix></mat-icon>
                                        </div>
                                        <span matSuffix>
                                            <mat-icon class="mr-10" matSuffix>search</mat-icon>
                                        </span>
                                        <mat-label>Search Review Type</mat-label>
                                        <mat-autocomplete #review="matAutocomplete">
                                            <ng-container>
                                                <mat-option *ngFor="let review of reviewList"
                                                    (onSelectionChange)="changeAutoComplete('review', review, $event)"
                                                    [value]="review.rvwType1">
                                                    <span>{{review.rvwType1}}</span>
                                                </mat-option>
                                            </ng-container>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-10 ">
                                <mat-form-field>
                                    <mat-label>Version</mat-label>
                                    <input autocomplete="off" id="version" readonly [(ngModel)]="responseData_EnhancedDetails.version"
                                        matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 mt-10 ">
                                <mat-form-field>
                                    <mat-label>Published</mat-label>
                                    <input autocomplete="off" id="published" readonly
                                        [(ngModel)]="responseData_EnhancedDetails.published" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 mt-10 ">
                                <mat-form-field>
                                    <mat-label>Created Date</mat-label>
                                    <input autocomplete="off" id="createdDate" readonly
                                        [(ngModel)]="responseData_EnhancedDetails.createdDate" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 mt-10 ">
                                <mat-form-field>
                                    <mat-label>Created by</mat-label>
                                    <input autocomplete="off" id="createdBy" readonly
                                        [(ngModel)]="responseData_EnhancedDetails.createdBy_Name" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 mt-10 ">
                                <mat-form-field>
                                    <mat-label>Modify Date</mat-label>
                                    <input autocomplete="off" id="modifyDate" readonly
                                        [(ngModel)]="responseData_EnhancedDetails.modifyDate" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 mt-10 ">
                                <mat-form-field>
                                    <mat-label>Modify by</mat-label>
                                    <input autocomplete="off" id="modifyBy" readonly
                                        [(ngModel)]="responseData_EnhancedDetails.modifiedBy_Name" matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-4 mt-20">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <mat-label>Status</mat-label>
                                    </div>
                                    <div class="col-lg-2">
                                        <mat-slide-toggle [(ngModel)]="responseData_EnhancedDetails.active"
                                            id="status"></mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </mat-card>
</div>