<div>
  <div class="row p-1 ">
    <div class="col-md-10 float-right">
      <h6 mat-dialog-title>Compliance Plan Reminder</h6>
    </div>

    <div class="col-md-1 ms-4 mt-1 float-right">
      <button (click)="addNewRemind()" class="mt-1" mat-stroked-button>
        <mat-icon color="accent">add</mat-icon>Add remind
      </button>
    </div>


  </div>

  <hr>
  <mat-dialog-content>
    <app-remainder [isRemainderForm]="isRemainderForm" [type]="'Remainder'" [reminderList]="planRemainder"
      (GetRemainderEvent)="GetRemainderEventForm($event)"></app-remainder>
  </mat-dialog-content>
</div>