<h2 mat-dialog-title>Add user</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field appearance="standard">
    <mat-label>Contact</mat-label>
    <mat-select (selectionChange)="onChangeUser(newUser[0].userId)" [(ngModel)]="newUser[0].userId">
      <mat-option (click)="setData(unassignedUser)" style="color: rgb(9, 2, 2);"
        *ngFor="let unassignedUser of unassignedContactNameLists" [value]="unassignedUser.userId">
        {{unassignedUser.fullName}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Area of Responsbility</mat-label>
    <mat-select [(ngModel)]="newUser[0].permCd">
      <mat-option style="color: rgb(9, 2, 2);" *ngFor="let areaOfResponsbility of unassignedAreaOfResList"
        [value]="areaOfResponsbility.refCode">
        {{areaOfResponsbility.refDesc}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Consolidated Review Responsbility</mat-label>
    <mat-select [(ngModel)]="newUser[0].consolidatedRvwPermCd">
      <mat-option style="color: rgb(9, 2, 2);" *ngFor="let consolReviewResponsbility of unassignedConsolReviewResList"
        [value]="consolReviewResponsbility.refCode">
        {{consolReviewResponsbility.refDesc}}
      </mat-option>
    </mat-select>
  </mat-form-field>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="onCancel()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="onAddUser()">Add</button>
</mat-dialog-actions>