.radio-group {
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}
.mat-row:nth-child(2n + 1) {
  background-color: #ffffff;
}
.mat-row:not(:nth-child(2n-1)) {
  background-color: #f5f5f5;
}

.alert-info .alert-icon {
  display: block;
  float: left;
  margin-right: 10px;
  margin-top: -1px;
}
.mat-tab-label {
  height: 48px;
  padding: 0 0px;
  cursor: pointer;
  box-sizing: border-box;
  opacity: 0.6;
  min-width: 100px !important;
  text-align: left;
  display: inline-flex;
  justify-content: left;
  align-items: left;
  white-space: nowrap;
  position: relative;
}

.mat-tab-label-container {
  display: none;
}
table {
  width: 100%;
}

.mat-tab-label.mat-tab-disabled {
  color: black;
}

.mat-tab-header {
  margin-right: 200px;
}

.container {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 0px;
  right: 10px;
}

.release-container{
  width: 100%;
  padding:40px;
  border: 1px solid #efefef;
  margin-top:30px;
}

.release-action-items{
  display: flex;
  flex-direction: row-reverse;
}