<app-landing-header [headerMenu]="headerMenu" [selectedIndex]="selectedIndex" (emitcurrentTabSelection)="getHeaderTabSelection($event)"></app-landing-header>
<div class="d-height" [ngClass]="selectedPage == 'search' ? '' : 'dispnone'">
    <app-search (emitSelectedQuestionnaire)="emitSelectedQuestionnaire($event)"></app-search>
</div>
<div class="d-height" *ngIf="selectedPage == 'questionnaires'">
    <app-questionnaires [selectedQuestionnaire]="selectedQuestionnaire"></app-questionnaires>
</div>
<div class="d-height" *ngIf="selectedPage == 'section'">
    <app-sections [selectedQuestionnaire]="selectedQuestionnaire"  (emitSelectedSection)="emitSelectedSection($event)"></app-sections>
</div>
<div class="d-height" *ngIf="selectedPage == 'field'">
    <app-fields [selectedQuestionnaire]="selectedQuestionnaire" [selectedSection]="selectedSection" ></app-fields>
</div>
