<app-user-security-landing [selectedTabIndex]=selectedIndex></app-user-security-landing>

<div class="d-height">
    <div class="spinner" *ngIf="showSpinner">
        <div class="fa-3x">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>
    <div *ngIf="isHideSearchUser">
        <mat-card>
            <div class="row" style="display: flex;">
                <form [formGroup]="usersearchForm">
                    <!-- SEARCH FIELD -->
                    <div class="col-lg-12 mt-10">
                        <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel [expanded]="true">
                                <mat-expansion-panel-header #panelSearch style="border-bottom: 1px solid lavender;">
                                    <mat-panel-title>
                                        <div class="row" style="width: 100%;">
                                            <div class="col-lg-9">
                                                <span style="font-size: 20px;font-weight: 500;">GEMS Users Search
                                                </span>
                                            </div>
                                            <div class="col-lg-3" style="text-align: right;">
                                                <button class="mt-1 cursor" mat-button style="color: #bd3640;"
                                                    (click)="panelSearch._toggle();addNewUser()">
                                                    <mat-icon class="mr-10">person_add</mat-icon>
                                                    <span class="mt-20">Add New User</span>
                                                </button>
                                            </div>
                                        </div>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="row mt-10">
                                    <div class="row">
                                        <ng-container *ngFor="let column of searchColumns; let i = index">
                                            <!-- Auto Complete -->
                                            <div class="col-lg-3 column-search" *ngIf="column.visible">
                                                <div *ngIf="column.type === 'autocomplete' ? true: false">
                                                    <div appearance="outline" class="search-results-count-box">
                                                        <mat-form-field class="full-width">
                                                            <input matInput [matAutocomplete]="auto"
                                                                placeholder="Min 3 Characters Ex. Ogs" />
                                                            <button matSuffix mat-icon-button aria-label="Clear">
                                                                <mat-icon class="mr-10">close</mat-icon>
                                                            </button>
                                                            <div style="margin-bottom: -30px">
                                                                <mat-icon class="mr-10" style="margin-top: -2px"
                                                                    matSuffix></mat-icon>
                                                            </div>
                                                            <span matSuffix>
                                                                <mat-icon class="mr-10" matSuffix>search</mat-icon>
                                                            </span>
                                                            <mat-label>{{column.searchColumnName}}</mat-label>
                                                            <mat-autocomplete [panelWidth]="480"
                                                                #auto="matAutocomplete">
                                                                <mat-option class="is-loading">Loading...</mat-option>
                                                                <ng-container>
                                                                    <mat-option>
                                                                        <span></span>
                                                                    </mat-option>
                                                                </ng-container>
                                                            </mat-autocomplete>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <!-- Textbox -->
                                                <div *ngIf="column.type === 'textbox' ? true: false">
                                                    <mat-form-field>
                                                        <mat-label>{{column.searchColumnName}}</mat-label>
                                                        <input autocomplete="off" formControlName="{{column.formName}}"
                                                            id="{{column.formName}}" matInput
                                                            (keyup.enter)="filterUserSearchData()">
                                                    </mat-form-field>
                                                </div>
                                                <!-- Toggle -->
                                                <div class="mt-20" *ngIf="column.type === 'toggle' ? true: false">
                                                    <div class="row">
                                                        <div class="col-lg-9">
                                                            <span class="mr-15">{{column.searchColumnName}}</span>
                                                        </div>
                                                        <div class="col-lg-2">
                                                            <mat-slide-toggle
                                                                formControlName="{{column.formName}}"></mat-slide-toggle>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- dropdown -->
                                                <div *ngIf="column.type === 'dropdown' ? true: false">
                                                    <!-- <app-dropdown formControlName="{{column.formName}}" [controlName]="column.formName" [isMultiSelectDropdown] = "column.isMultiSelect" [dropdownListValue]="column.dropdownList" [selectedItemsValues]='column.selectedDropdownValue' [selectedText]="column.searchColumnName"
                                                                (updatedSelectedValue)="UpdateDropdown($event)">
                                                            </app-dropdown> -->
                                                    <mat-form-field>
                                                        <mat-label>{{column.searchColumnName}}</mat-label>
                                                        <mat-select formControlName="{{column.formName}}">
                                                            <mat-option style="color: rgb(9, 2, 2);"
                                                                *ngFor="let value of column.dropdownList"
                                                                [value]="value.id">
                                                                {{value.itemName}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <!-- RadioButton -->
                                                <div class="mt-20" *ngIf="column.type === 'radioButton' ? true: false">
                                                    <mat-label class="mr-10">{{column.searchColumnName}} : </mat-label>
                                                    <mat-radio-group id="menuFlag" formControlName="{{column.formName}}">
                                                        <mat-radio-button class="mr-10" value="1">All</mat-radio-button>
                                                        <mat-radio-button class="mr-10" value="2" style="padding-right: 5px;">Active</mat-radio-button>
                                                        <mat-radio-button class="mr-10" value="3">In-Active</mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                            </div>
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="row mt-10">
                                    <div style="text-align: right; width: 98%;">
                                        <button class="cursor" style="color: #bd3640 !important;" mat-raised-button class="mr-10"
                                            (click)="filterUserSearchData()">Search</button>
                                        <button class="cursor" style="color: #bd3640 !important;" mat-raised-button class="mr-10"
                                            (click)="clearUserFilterData()">Clear</button>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <hr class="mt-20">
                    <!-- SEARCH TABLE FIELD -->
                    <div class="col-lg-12">
                        <mat-card-content class="user-table-height mat-elevation-z8"
                            *ngIf="responseData?.filteredData?.length">
                            <table mat-table [dataSource]="responseData" class="tbl-width">
                                <!-- Position Column -->
                                <ng-container *ngFor="let disCol of columnsHeaders; let colIndex = index"
                                    matColumnDef="{{disCol.fieldName}}">
                                    <th mat-header-cell *matHeaderCellDef>{{disCol.headerName}}</th>
                                    <td mat-cell *matCellDef="let element"> {{element[disCol.fieldName]}} </td>
                                </ng-container>
                                <ng-container matColumnDef="Action">
                                    <th mat-header-cell *matHeaderCellDef>Action</th>
                                    <td mat-cell *matCellDef="let element">
                                        <button class="cursor" style="color: #bd3640 !important;" mat-raised-button
                                            (click)="bindUserDetails()">User Details</button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" [attr.colspan]="displayedColumns.length"> No data matching the
                                        filter.</td>
                                </tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
                        </mat-card-content>
                    </div>
                </form>
            </div>
        </mat-card>
    </div>
    <!-- USER DETAILS -->
    <div *ngIf="showUserDetails">
        <form [formGroup]="userDetailsForm">
            <mat-card>
                <div class="row mt-10">
                    <!-- User Basic Details -->
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel [expanded]="true">
                            <mat-expansion-panel-header #panelUser style="border-bottom: 1px solid lavender;">
                                <mat-panel-title>
                                    <div class="row" style="width: 100%;">
                                        <div class="col-lg-9">
                                            <span style="font-size: 20px;font-weight: 500;">User Details</span>
                                        </div>
                                        <div class="col-lg-3" style="text-align: right;">
                                            <button class="mt-1 cursor" mat-button style="color: #bd3640;"
                                                (click)="panelUser._toggle();">
                                                <mat-icon class="mr-10">save</mat-icon>
                                                <span>Save</span>
                                            </button>
                                            <button *ngIf="!isEditMode" class="mt-1 cursor" mat-button style="color: #bd3640;"
                                                (click)="panelUser._toggle();cancelUserDetails()">
                                                <mat-icon class="mr-10">cancel</mat-icon>
                                                <span>Cancel</span>
                                            </button>
                                            <button *ngIf="isEditMode" class="mt-1 cursor" mat-button style="color: #bd3640;"
                                                (click)="panelUser._toggle();cancelUserDetails()">
                                                <mat-icon class="mr-10">cancel</mat-icon>
                                                <span>Back</span>
                                            </button>
                                        </div>
                                    </div>

                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <ng-container>
                                    <div class="col-lg-3 column-search">
                                        <mat-form-field>
                                            <mat-label>Login Name</mat-label>
                                            <input autocomplete="off" formControlName="loginName" id="loginName"
                                                matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 column-search">
                                        <mat-form-field>
                                            <mat-label>First Name</mat-label>
                                            <input autocomplete="off" formControlName="firstName" id="firstName"
                                                matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 column-search">
                                        <mat-form-field>
                                            <mat-label>Last Name</mat-label>
                                            <input autocomplete="off" formControlName="lastName" id="lastName" matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 column-search">
                                        <mat-form-field>
                                            <mat-label>Email Address</mat-label>
                                            <input autocomplete="off" formControlName="emailAddress" id="emailAddress"
                                                matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 column-search">
                                        <mat-form-field>
                                            <mat-label>Address Line -1</mat-label>
                                            <input autocomplete="off" formControlName="addressLine1" id="addressLine1"
                                                matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 column-search">
                                        <mat-form-field>
                                            <mat-label>Address Line -2</mat-label>
                                            <input autocomplete="off" formControlName="addressLine2" id="addressLine2"
                                                matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 column-search">
                                        <mat-form-field>
                                            <mat-label>City</mat-label>
                                            <input autocomplete="off" formControlName="city" id="city" matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 column-search">
                                        <mat-form-field>
                                            <mat-label>State</mat-label>
                                            <mat-select formControlName="State">
                                                <mat-option style="color: rgb(9, 2, 2);"></mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 column-search">
                                        <mat-form-field>
                                            <mat-label>Zip -1</mat-label>
                                            <input autocomplete="off" formControlName="zip1" id="zip1" matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 column-search">
                                        <mat-form-field>
                                            <mat-label>Zip -2</mat-label>
                                            <input autocomplete="off" formControlName="zip2" id="zip2" matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 column-search">
                                        <mat-form-field>
                                            <mat-label>Fax</mat-label>
                                            <input autocomplete="off" formControlName="Fax" id="Fax" matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 column-search">
                                        <div class="row">
                                            <div class="col-lg-7">
                                                <mat-form-field>
                                                    <mat-label>Phone</mat-label>
                                                    <input autocomplete="off" formControlName="phone" id="phone"
                                                        matInput>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-lg-5">
                                                <mat-form-field>
                                                    <mat-label>Ext.</mat-label>
                                                    <input autocomplete="off" formControlName="extension" id="extension"
                                                        matInput>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <div class="mt-20"></div>
                    <!-- Flag Details -->
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel [expanded]="true">
                            <mat-expansion-panel-header style="border-bottom: 1px solid lavender;">
                                <mat-panel-title>
                                    <span style="font-size: 20px;font-weight: 500;">Flag Details</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <ng-container>
                                    <div class="col-lg-3 mt-20  column-search">
                                        <mat-form-field>
                                            <mat-label>Display Name</mat-label>
                                            <input autocomplete="off" formControlName="displayName" id="displayName"
                                                matInput>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 mt-20  column-search">
                                        <mat-form-field>
                                            <mat-label>Title</mat-label>
                                            <mat-select id="title" formControlName="title">
                                                <mat-option style="color: rgb(9, 2, 2);"></mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-lg-3 mt-20  column-search">
                                        <mat-form-field>
                                            <mat-label>Role</mat-label>
                                            <mat-select id="role" formControlName="role">
                                                <mat-option style="color: rgb(9, 2, 2);"></mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 mt-20  column-search">
                                        <mat-form-field>
                                            <mat-label>Office</mat-label>
                                            <mat-select id="office" formControlName="office">
                                                <mat-option style="color: rgb(9, 2, 2);"></mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3 mt-20 column-search">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <mat-label>Menu : </mat-label>
                                            </div>
                                            <div class="col-lg-8">
                                                <mat-radio-group id="menuFlag" formControlName="menuFlag">
                                                    <mat-radio-button value="1" style="padding-right: 5px;">Role
                                                        Based</mat-radio-button>
                                                    <mat-radio-button value="2">Custom</mat-radio-button>
                                                </mat-radio-group>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 mt-20 column-search">
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <mat-label>Status</mat-label>
                                            </div>
                                            <div class="col-lg-2">
                                                <mat-slide-toggle id="status"
                                                    formControlName="status"></mat-slide-toggle>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 mt-20 column-search">
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <mat-label>Food Service Menu</mat-label>
                                            </div>
                                            <div class="col-lg-2">
                                                <mat-slide-toggle id="foodServiceMenu"
                                                    formControlName="foodServiceMenu"></mat-slide-toggle>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 mt-20 column-search">
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <mat-label>PSA Contract User</mat-label>
                                            </div>
                                            <div class="col-lg-2">
                                                <mat-slide-toggle id="psaContractUser"
                                                    formControlName="psaContractUser"></mat-slide-toggle>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 mt-20 column-search">
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <mat-label>10 Cent User</mat-label>
                                            </div>
                                            <div class="col-lg-2">
                                                <mat-slide-toggle id="10CentUser"
                                                    formControlName="centUser"></mat-slide-toggle>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 mt-20 column-search">
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <mat-label>Entity Information</mat-label>
                                            </div>
                                            <div class="col-lg-2">
                                                <mat-slide-toggle id="entityInformation"
                                                    formControlName="entityInformation"></mat-slide-toggle>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 mt-20 column-search">
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <mat-label>Assign All Review</mat-label>
                                            </div>
                                            <div class="col-lg-2">
                                                <mat-slide-toggle id="assignAllReview"
                                                    formControlName="assignAllReview"></mat-slide-toggle>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 mt-20 column-search">
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <mat-label>Password Reset</mat-label>
                                            </div>
                                            <div class="col-lg-2">
                                                <mat-slide-toggle id="passWordReset"
                                                    formControlName="passWordReset"></mat-slide-toggle>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 mt-20 column-search">
                                        <div class="row">
                                            <div class="col-lg-9">
                                                <mat-label>Info</mat-label>
                                            </div>
                                            <div class="col-lg-2">
                                                <button class="mt-1 cursor" mat-button (click)="openUserInfoPopup()">
                                                    <mat-icon class="mr-10">open_in_new</mat-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <div class="mt-20"></div>
                    <!-- Sub Recipient -->
                    <mat-accordion class="example-headers-align" multi>
                        <mat-expansion-panel [expanded]="isOpen">
                            <mat-expansion-panel-header #panelH style="border-bottom: 1px solid lavender;">
                                <mat-panel-title>
                                    <div class="row" style="width: 100%;">
                                        <div class="col-lg-9">
                                            <span style="font-size: 20px;font-weight: 500;">Sub Recipient</span>
                                        </div>
                                        <div class="col-lg-3" style="text-align: right;">
                                            <button class="mt-1 cursor" mat-button style="color: #bd3640;"
                                                (click)="panelH._toggle();addNewSubRecipientRow()">
                                                <mat-icon class="mr-10">library_add</mat-icon>
                                                <span>Add Sub Recipient</span>
                                            </button>
                                        </div>
                                    </div>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <div class="row">
                                <div class="subRecipient-table-height mat-elevation-z8"
                                    *ngIf="subRecipientData?.filteredData?.length > 0">
                                    <table class="w-100 table-hover" #table mat-table [dataSource]="subRecipientData"
                                        matSort>
                                        <ng-container matColumnDef="subRecipient">
                                            <th mat-header-cell *matHeaderCellDef>Sub Recipient Details</th>
                                            <td mat-cell *matCellDef="let element; let i = index">
                                                <div appearance="outline" class="search-results-count-box">
                                                    <mat-form-field class="full-width">
                                                        <input matInput [matAutocomplete]="auto"
                                                            placeholder="Min 3 Characters Ex. Ogs" />
                                                        <button matSuffix mat-icon-button aria-label="Clear">
                                                            <mat-icon>close</mat-icon>
                                                        </button>
                                                        <div style="margin-bottom: -30px">
                                                            <mat-icon style="margin-top: -2px" matSuffix></mat-icon>
                                                        </div>
                                                        <span matSuffix>
                                                            <mat-icon matSuffix>search</mat-icon>
                                                        </span>
                                                        <mat-label>Search Sub Recipient</mat-label>
                                                        <mat-autocomplete [panelWidth]="480" #auto="matAutocomplete">
                                                            <mat-option class="is-loading">Loading...</mat-option>
                                                            <ng-container>
                                                                <mat-option>
                                                                    <span></span>
                                                                </mat-option>
                                                            </ng-container>
                                                        </mat-autocomplete>
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="primary">
                                            <th mat-header-cell *matHeaderCellDef>Primary </th>
                                            <td mat-cell *matCellDef="let element; let i = index">
                                                <mat-slide-toggle
                                                    (click)="setPrimayContact(element, i)"></mat-slide-toggle>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="delete">
                                            <th mat-header-cell *matHeaderCellDef> Delete</th>
                                            <td mat-cell *matCellDef="let element; let i = index">
                                                <a (click)="deleteSubRecipientRow(element, i)"><mat-icon
                                                        class="mr-10">delete</mat-icon></a>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row
                                            *matHeaderRowDef="displayedColumnsSubRecipient; sticky: true">
                                        </tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsSubRecipient;"></tr>
                                    </table>
                                    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                </div>
                            </div>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </mat-card>
        </form>
    </div>
</div>