.mat-form-field {
    width: 98%;
}
.mat-column-position {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 10% !important;
    width: 10% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .subRecipient-table-height {
    max-height: 400px;
    overflow: auto;
  }

  .user-table-height{
    max-height: 800px;
    overflow: auto;
  }