<div *ngIf="showSpinner" class="showSpinner">
    <mat-spinner [diameter]="50"></mat-spinner>
</div>
<div>
    <div class="row header">
        <div class="col-lg-10 mt-5">
            <h6>{{ headerName }}</h6>
        </div>
        <div class="col-lg-2 pt-1 text-end">
            <span style="cursor: pointer !important;" [mat-dialog-close]><b>X</b></span>
        </div>
    </div>
    <div class="row mt-3" id="addSubRec" *ngIf="pageName == 'addSubRec' || pageName == 'addlInfo'">
        <div class="row column-search mt-20">
            <div class="col-lg-4">
                <mat-form-field>
                    <mat-label class="mandatory">*</mat-label>
                    <mat-label>Code</mat-label>
                    <input matInput autocomplete="off" maxlength="10" placeholder="Code"
                        [(ngModel)]="subRecAddlInfo.subRecCd">
                </mat-form-field>
            </div>
            <div class="col-lg-4">
                <mat-form-field>
                    <mat-label class="mandatory">*</mat-label>
                    <mat-label>Sub-Recipient Name</mat-label>
                    <input matInput autocomplete="off" maxlength="10" placeholder="Sub-Recipient Name"
                        [(ngModel)]="subRecAddlInfo.subRecName">
                </mat-form-field>
            </div>
            <div class="col-lg-4">
                <mat-form-field>
                    <mat-label class="mandatory">*</mat-label>
                    <mat-label>Notification Format</mat-label>
                    <mat-select [(ngModel)]="subRecAddlInfo.notifyFmt" [(value)]="subRecAddlInfo.notifyFmt">
                        <mat-option style="color: rgb(9, 2, 2)" *ngFor="let notifyfmt of notificationFormatList"
                            [value]="notifyfmt?.item_id">
                            {{ notifyfmt.item_text }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-4">
                <mat-form-field>
                    <mat-label class="mandatory">*</mat-label>
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="subRecAddlInfo.recStat" [(value)]="subRecAddlInfo.recStat">
                        <mat-option style="color: rgb(9, 2, 2)" (onSelectionChange)="selectedRecStat(recstat, $event)"
                            *ngFor="let recstat of subRecipientStatusList" [value]="recstat?.item_id">
                            {{ recstat.item_text }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-4">
                <mat-form-field *ngIf="selectedStatus !== 'C'">
                    <input matInput disabled />
                </mat-form-field>
                <mat-form-field class="full-width" *ngIf="selectedStatus == 'C'">
                    <mat-label>Close Date</mat-label>
                    <input matInput [matDatepicker]="picker" [(ngModel)]="subRecAddlInfo.closeDt" name="closeDt">
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker color="primary"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-lg-2">
                <mat-form-field>
                    <mat-label>License #</mat-label>
                    <input matInput autocomplete="off" maxlength="10" placeholder="License #"
                        [(ngModel)]="subRecAddlInfo.licNo">
                </mat-form-field>
            </div>
        </div>
        <div class="col-lg-12">
            <mat-accordion class="example-headers-align mt-3" multi>
                <mat-expansion-panel [expanded]="true">
                    <mat-expansion-panel-header #panelSearch>
                        <mat-panel-title>
                            <div class="row" style="width: 100%;">
                                <span class="mat-panel-title-span">Sub-Recipient Additional Information</span>
                            </div>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row column-search mt-20">
                        <div class="col-lg-4">
                            <mat-form-field class="full-width">
                                <mat-label class="mandatory">*</mat-label>
                                <mat-label>Federal Id</mat-label>
                                <input matInput autocomplete="off" maxlength="10" placeholder="Federal Id"
                                    [(ngModel)]="subRecAddlInfo.fedId">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4">
                            <mat-form-field class="full-width">
                                <mat-label class="mandatory">*</mat-label>
                                <mat-label>First Name</mat-label>
                                <input matInput autocomplete="off" maxlength="10" placeholder="First Name"
                                    [(ngModel)]="subRecAddlInfo.contactFName">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4">
                            <mat-form-field class="full-width">
                                <mat-label class="mandatory">*</mat-label>
                                <mat-label>Last Name</mat-label>
                                <input matInput autocomplete="off" maxlength="10" placeholder="Last Name"
                                    [(ngModel)]="subRecAddlInfo.contactLName">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4">
                            <mat-form-field>
                                <mat-label>Title</mat-label>
                                <mat-select>
                                    <mat-option style="color: rgb(9, 2, 2)" *ngFor="let title of subRecTitleList"
                                        [value]="title?.refCode">
                                        {{ title.refDesc }} ( {{ title.refCode }})
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4">
                            <mat-form-field>
                                <mat-label>Designation</mat-label>
                                <mat-select>
                                    <mat-option style="color: rgb(9, 2, 2)" *ngFor="let dsg of subRecDesignationList"
                                        [value]="dsg?.refCode">
                                        {{ dsg.refDesc }} ( {{ dsg.refCode }})
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4">
                            <mat-form-field class="full-width">
                                <mat-label class="mandatory">*</mat-label>
                                <mat-label>Address Line 1</mat-label>
                                <input matInput autocomplete="off" maxlength="10" placeholder="Address Line 1"
                                    [(ngModel)]="subRecAddlInfo.addLine1">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4">
                            <mat-form-field class="full-width">
                                <mat-label>Address Line 2</mat-label>
                                <input matInput autocomplete="off" maxlength="10" placeholder="Address Line 2"
                                    [(ngModel)]="subRecAddlInfo.addLine2">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <mat-form-field class="full-width">
                                <mat-label class="mandatory">*</mat-label>
                                <mat-label>City</mat-label>
                                <input matInput autocomplete="off" maxlength="10" placeholder="City"
                                    [(ngModel)]="subRecAddlInfo.city">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <mat-form-field class="full-width">
                                <mat-label class="mandatory">*</mat-label>
                                <mat-label>State</mat-label>
                                <input matInput autocomplete="off" maxlength="10" placeholder="State"
                                    [(ngModel)]="subRecAddlInfo.stateCd">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <mat-form-field class="full-width">
                                <mat-label class="mandatory">*</mat-label>
                                <mat-label>Zip 1</mat-label>
                                <input matInput autocomplete="off" maxlength="10" placeholder="Zip 1"
                                    [(ngModel)]="subRecAddlInfo.zip1">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <mat-form-field class="full-width">
                                <mat-label>Zip 2</mat-label>
                                <input matInput autocomplete="off" maxlength="10" placeholder="Zip 2"
                                    [(ngModel)]="subRecAddlInfo.zip2">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4">
                            <mat-form-field class="full-width">
                                <mat-label class="mandatory">*</mat-label>
                                <mat-label>Phone</mat-label>
                                <input matInput autocomplete="off" maxlength="10" placeholder="Phone"
                                    [(ngModel)]="subRecAddlInfo.contactPhone">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2">
                            <mat-form-field class="full-width">
                                <mat-label class="mandatory">*</mat-label>
                                <mat-label>Ext</mat-label>
                                <input matInput autocomplete="off" maxlength="10" placeholder="Ext"
                                    [(ngModel)]="subRecAddlInfo.contactPhoneExt">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-4">
                            <mat-form-field class="full-width">
                                <mat-label class="mandatory">*</mat-label>
                                <mat-label>Email</mat-label>
                                <input matInput autocomplete="off" maxlength="10" placeholder="Email"
                                    [(ngModel)]="subRecAddlInfo.contactEmail">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-lg-12 text-end">
            <button *ngIf="isAddOrEdit" class="mt-3 cursor button-red" mat-button (click)="saveSubRecipientDetails();">
                <mat-icon class="mr-10">save</mat-icon>
                <span class="mt-20">Ok</span>
            </button>
            <button class="mt-3 cursor button-red" mat-button (click)="closePopup(pageName, 'cancel')">
                <mat-icon class="mr-10">cancel</mat-icon>
                <span class="mt-20">Cancel</span>
            </button>
        </div>
    </div>
    <div class="row mt-3" id="viewBuildings" *ngIf="pageName == 'viewBuildings'">
        <div class="col-lg-7 ps-3 pt-2">
            <strong>Sub-Recipient : </strong>
            <span>{{ emitdata?.subRecName }} ( {{ emitdata?.subRecCd }}) </span>
        </div>
        <table #table mat-table [dataSource]="responseBldgData" class="tbl-width">
            <ng-container *ngFor="let data of matColumnBldgConfig; let i = index" matColumnDef="{{data.id}}">
                <th style="min-width: 20px;" mat-header-cell *matHeaderCellDef [style.width]="data.width">{{data.name}}
                </th>
                <td mat-cell *matCellDef="let element; let j = index">
                    <div *ngIf="data.id == 'closeDt'">
                        <span>{{element[data.id]}}</span>
                    </div>
                    <div *ngIf="data.id == 'closeDt'">
                        <span>{{ element.closeDt ? (element.closeDt | date : "dd/MM/yyyy") : "" }}</span>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedBldgColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedBldgColumns;"></tr>
            <tr mat-row *matNoDataRow>
                <td [attr.colspan]="displayedBldgColumns.length"> No data matching the
                    filter.</td>
            </tr>
        </table>
    </div>
    <div class="col-lg-12 text-end">
        <button class="mt-3 cursor button-red" mat-button (click)="closePopup(pageName, 'cancel')">
            <mat-icon class="mr-10">cancel</mat-icon>
            <span class="mt-20">Cancel</span>
        </button>
    </div>
</div>