.radio-button {
  margin: 10px;
}

.border {
  border: 1px solid var(--color-border);
  padding: 3px;
}

#addSchedule .table-responsive {
  max-height: calc(100vh - 565px);
  min-height: calc(100vh - 565px);
}

.mat-mdc-dialog-container {
  overflow: hidden !important;
}
