.mat-column-emailTemplate {
    white-space: break-spaces !important;
}

.mat-icon{
    font-size: 20px;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    max-height: calc(100vh - 405px);
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }

    .mat-row,
    .mat-header-row {
        display: table-row;
        width: 10%;
    }

    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 6px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
}