<div>
    <div class="row header">
        <div class="col-lg-10 mt-5">
            <h6>{{headerName}}</h6>
        </div>
        <div class="col-lg-2" style="text-align: right">
            <span style="cursor: pointer !important;" [mat-dialog-close]><b>X</b></span>
        </div>
    </div>
    <div *ngIf="pageName == 'section' ">
        <div class="row mt-20">
            <div *ngIf="emitdata?.isEdit" class="row column-search">
                <div class="col-lg-3 pt-4">
                    <span>Dependency Type: </span>
                </div>
                <div class="col-lg-9">
                    <mat-form-field>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option></mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 pt-4">
                    <span>Label: </span>
                </div>
                <div class="col-lg-9">
                    <mat-form-field>
                        <input matInput autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="col-lg-3 pt-4">
                    <span>Field Format: </span>
                </div>
                <div class="col-lg-9">
                    <mat-form-field>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option></mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 pt-4">
                    <span>Fields: </span>
                </div>
                <div class="col-lg-9">
                    <mat-form-field>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option></mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 pt-4">
                    <span>Field Choice: </span>
                </div>
                <div class="col-lg-9">
                    <mat-form-field>
                        <mat-select>
                            <mat-option>None</mat-option>
                            <mat-option></mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3 pt-4">
                    <span>Field Choice IDs: </span>
                </div>
                <div class="col-lg-9">
                    <mat-form-field>
                        <input matInput autocomplete="off" />
                    </mat-form-field>
                </div>
                <div class="col-lg-3 mt-4">
                    <span class="me-2">Is Modal Content: </span>
                </div>
                <div class="col-lg-9 mt-4">
                    <mat-checkbox></mat-checkbox>
                </div>
            </div>
            <div *ngIf="!emitdata?.isEdit" class="row column-search">
                <div class="col-lg-3 pt-4">
                    <span>Label: </span>
                </div>
                <div class="col-lg-9">
                    <mat-form-field>
                        <input matInput autocomplete="off">
                    </mat-form-field>
                </div>
                <div class="col-lg-3 mt-4">
                    <span class="me-2">Is Modal Content: </span>
                </div>
                <div class="col-lg-9 mt-4">
                    <mat-checkbox></mat-checkbox>
                </div>
            </div>
        </div>
        <div style="float: right;">
            <button class="mt-1 cursor button-red" mat-button>
                <mat-icon class="mr-10">
                    <caption></caption>ancel
                </mat-icon>
                <span class="mt-20">Cancel</span>
            </button>
            <button *ngIf="!emitdata?.isEdit" class="mt-1 cursor button-red" mat-button>
                <mat-icon class="mr-10">save</mat-icon>
                <span class="mt-20">Save</span>
            </button>
            <button *ngIf="emitdata?.isEdit" class="mt-1 cursor button-red" mat-button>
                <mat-icon class="mr-10">update</mat-icon>
                <span class="mt-20">Update Now</span>
            </button>
        </div>
    </div>
    <div *ngIf="pageName == 'field' ">
        <div class="row mt-20" id="field-popup">
            <mat-tab-group>
                <mat-tab label="Edit Field">
                    <div class="row column-search">
                        <div class="col-lg-2 pt-4">
                            <span>Field Type : </span>
                        </div>
                        <div class="col-lg-10">
                            <mat-form-field>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let state of fieldTypeList" [value]="state"></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 mt-4">
                            <span>Label : </span>
                        </div>
                        <div class="col-lg-10 mt-4">
                            <ckeditor debounce="300"></ckeditor>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab *ngIf="emitdata?.isEdit" label="Parent Child Field">
                    <div class="row column-search">
                        <div class="col-lg-3 pt-4">
                            <span>Parent Questionnaire Field ID: </span>
                        </div>
                        <div class="col-lg-4">
                            <mat-form-field>
                                <input matInput autocomplete="off">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab *ngIf="emitdata?.isEdit" label="Dependencies">
                    <div class="row column-search">
                        <div class="col-lg-3 pt-4">
                            <span>Questionnaire Field ID: </span>
                        </div>
                        <div class="col-lg-9">
                            <mat-form-field>
                                <input matInput autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 pt-4">
                            <span>Dependency Type: </span>
                        </div>
                        <div class="col-lg-9">
                            <mat-form-field>
                                <input matInput autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 pt-4">
                            <span>Questionnaire Field Choice ID: </span>
                        </div>
                        <div class="col-lg-9">
                            <mat-form-field>
                                <input matInput autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 pt-4">
                            <span>Tiered To Parent Questionnaire: </span>
                        </div>
                        <div class="col-lg-9">
                            <mat-form-field>
                                <input matInput autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 pt-4">
                            <span>Record Status: </span>
                        </div>
                        <div class="col-lg-9">
                            <mat-form-field>
                                <textarea matInput rows="3" autocomplete="off"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab *ngIf="emitdata?.isEdit" label="Rules">
                    <div class="row column-search">
                        <div class="col-lg-3 pt-4">
                            <span>Validation Expression: </span>
                        </div>
                        <div class="col-lg-9">
                            <mat-form-field>
                                <input matInput autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 pt-4">
                            <span>Maximum Length: </span>
                        </div>
                        <div class="col-lg-9">
                            <mat-form-field>
                                <input matInput autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 pt-4">
                            <span>Validation Message: </span>
                        </div>
                        <div class="col-lg-9">
                            <mat-form-field>
                                <input matInput autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 pt-4">
                            <span>Max Length Restriction Type: </span>
                        </div>
                        <div class="col-lg-9">
                            <mat-form-field>
                                <input matInput autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 pt-4">
                            <span>Response On Parent Field ID: </span>
                        </div>
                        <div class="col-lg-9">
                            <mat-form-field>
                                <input matInput autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 pt-4">
                            <span>Compare Validation: </span>
                        </div>
                        <div class="col-lg-9">
                            <mat-form-field>
                                <textarea matInput rows="2" autocomplete="off"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 mt-3">
                            <span class="me-2">Response Is Required: </span>
                            <mat-checkbox></mat-checkbox>
                        </div>
                        <div class="col-lg-3 mt-3">
                            <span class="me-2">Response Is Multiple: </span>
                            <mat-checkbox></mat-checkbox>
                        </div>
                        <div class="col-lg-2 mt-3">
                            <span class="me-2">Obfuscate: </span>
                            <mat-checkbox></mat-checkbox>
                        </div>
                        <div class="col-lg-2 mt-3">
                            <span class="me-2">Read Only: </span>
                            <mat-checkbox></mat-checkbox>
                        </div>
                        <div class="col-lg-2 mt-3">
                            <span class="me-2">Textbox Expanded: </span>
                            <mat-checkbox></mat-checkbox>
                        </div>

                    </div>
                </mat-tab>
                <mat-tab *ngIf="emitdata?.isEdit" label="Summary Info">
                    <div class="row column-search">
                        <div class="col-lg-3 pt-4">
                            <span>Caption: </span>
                        </div>
                        <div class="col-lg-9">
                            <mat-form-field>
                                <textarea rows="2" matInput autocomplete="off"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 pt-4">
                            <span>Tip: </span>
                        </div>
                        <div class="col-lg-9">
                            <mat-form-field>
                                <textarea rows="2" matInput autocomplete="off"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 pt-4">
                            <span>Source: </span>
                        </div>
                        <div class="col-lg-9">
                            <mat-form-field>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let state of sourceList" [value]="state"></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 pt-4">
                            <span>Response Viewer Field: </span>
                        </div>
                        <div class="col-lg-9">
                            <mat-form-field>
                                <mat-select>
                                    <mat-option>None</mat-option>
                                    <mat-option *ngFor="let state of responseViewerList" [value]="state"></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 pt-4">
                            <span>Export Sequence: </span>
                        </div>
                        <div class="col-lg-9">
                            <mat-form-field>
                                <input matInput autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 pt-4">
                            <span>Created By: </span>
                        </div>
                        <div class="col-lg-3 pt-4">
                            <span>TEST@abc.com</span>
                        </div>
                        <div class="col-lg-5 pt-4">
                            <span class="me-3">Created Date: </span>
                            <span>11/08/2024 11:00 pm</span>
                        </div>
                        <div class="col-lg-3 pt-4">
                            <span>Modified By: </span>
                        </div>
                        <div class="col-lg-3 pt-4">
                            <span>TEST@abc.com</span>
                        </div>
                        <div class="col-lg-5 pt-4">
                            <span class="me-4">Modified By: </span>
                            <span>11/08/2024 11:00 pm</span>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab *ngIf="emitdata?.isEdit" label="Models">
                    <div class="row column-search">
                        <div class="col-lg-3 pt-4">
                            <span>Modal ID: </span>
                        </div>
                        <div class="col-lg-9">
                            <mat-form-field>
                                <input matInput autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 pt-4">
                            <span>Modal Button Text: </span>
                        </div>
                        <div class="col-lg-9">
                            <mat-form-field>
                                <input matInput autocomplete="off">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab *ngIf="emitdata?.isEdit" label="Calculations">
                    <div class="row column-search">
                        <div class="col-lg-3 pt-4">
                            <span>Calculation Field: </span>
                        </div>
                        <div class="col-lg-9">
                            <mat-form-field>
                                <input matInput autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="col-lg-3 pt-4">
                            <span>Calculation Expression: </span>
                        </div>
                        <div class="col-lg-9">
                            <mat-form-field>
                                <textarea rows="3" matInput autocomplete="off"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div style="float: right;">
            <button class="mt-1 cursor button-red" mat-button>
                <mat-icon class="mr-10">
                    <caption></caption>ancel
                </mat-icon>
                <span class="mt-20">Cancel</span>
            </button>
            <button *ngIf="!emitdata?.isEdit" class="mt-1 cursor button-red" mat-button>
                <mat-icon class="mr-10">save</mat-icon>
                <span class="mt-20">Save</span>
            </button>
            <button *ngIf="emitdata?.isEdit" class="mt-1 cursor button-red" mat-button>
                <mat-icon class="mr-10">update</mat-icon>
                <span class="mt-20">Update Now</span>
            </button>
        </div>
    </div>
</div>