<div class="spinner" *ngIf="showSpinner" role="status">
    <div class="fa-3x">
        <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
        <span class="sr-only">Loading sections</span>
    </div>
</div>
<div class="qscript-page">
    <header class="qscript-header">
        <div class="qscript-header-copy">
            <h1>Sections</h1>
            <p class="qscript-meta">
                <span class="qscript-chip">{{selectedQuestionnaire?.name || 'Selected Questionnaire'}}</span>
            </p>
        </div>
        <div class="qscript-header-actions">
            <button class="btn-primary" type="button" mat-flat-button (click)="openSectionPopup(false)">
                <mat-icon aria-hidden="true">add</mat-icon>
                Add New Section
            </button>
        </div>
    </header>
    <section class="qscript-panel">
        <div class="table-responsive">
            <table #table mat-table [dataSource]="responseData" class="tbl-width" cdkDropList
                [cdkDropListData]="responseData?.data" (cdkDropListDropped)="dragdropTable($event)">
                <ng-container *ngFor="let data of matColumnConfig; let i = index" matColumnDef="{{data.id}}">
                    <th style="min-width: 60px;" mat-header-cell *matHeaderCellDef>{{data.name}}</th>
                    <td mat-cell *matCellDef="let element; let j = index" [class.section-label-cell]="data.id === 'label'">
                        <mat-form-field *ngIf="data.id === 'label'" appearance="outline" subscriptSizing="dynamic" class="section-label-field">
                            <input matInput autocomplete="off" [attr.aria-label]="data.name" [(ngModel)]="element[data.id]">
                        </mat-form-field>
                        <span *ngIf="data.id !== 'label'">{{element[data.id]}}</span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="field">
                    <th mat-header-cell *matHeaderCellDef>Field</th>
                    <td mat-cell *matCellDef="let element">
                        <button type="button" class="icon-button" [attr.aria-label]="'Edit fields in section ' + (element.label || '')" (click)="editFields(element)">
                            <mat-icon class="cursor me-2" aria-hidden="true">edit</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="dependencies">
                    <th mat-header-cell *matHeaderCellDef>Dependencies</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon class="cursor me-2" aria-hidden="true">edit</mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row cdkDrag [cdkDragData]="row" cdkDragLockAxis="y" *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr mat-row *matNoDataRow>
                    <td [attr.colspan]="displayedColumns.length"> No data matching the filter.</td>
                </tr>
            </table>
        </div>
        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 15, 20, 25]" showFirstLastButtons
            [selectConfig]="paginatorSelectConfig"></mat-paginator>
    </section>
</div>
