<div class="program-view-section p-2 m-1">
  <form [formGroup]="reviewInfoForm">

    <div class="row p-3">
      <div class="col-lg-9 dni" style="margin-left: -15px;" *ngIf="!isNewRvwType">
        <h5>Review Type: {{reviewType}}</h5>
      </div>
      <!--   <div class="col-md-9 col-9" *ngIf="isEdit===true || isNewRvwType">
        <mat-form-field matTooltip="Program name" [matTooltipPosition]="tooltipPosition" class="full-width">
          <mat-label>Program Name</mat-label>
          <input autocomplete="off" matInput placeholder="Program name" formControlName="grantPgmDesc" required>
          <mat-error *ngIf="
        programInfoForm.controls['grantPgmDesc']?.errors?.required">program name required</mat-error>
        </mat-form-field>
      </div> -->
    </div>
    <div class="row">

      <div class="col-md-6" *ngIf="isNewRvwType">
        <mat-form-field matTooltip="Example : Choose an option from the drop down"
          [matTooltipPosition]="tooltipPosition" class="w-100">
          <mat-label>Review Type</mat-label>
          <mat-select formControlName="reviewTypesCtrl" required>
            <mat-option style="color: rgb(9, 2, 2);" *ngFor="let reviewType of reviewTypesList"
              [value]="reviewType.rvwType1">
              {{reviewType.rvwDesc}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="reviewInfoForm.controls['reviewTypesCtrl'].invalid">Review type required
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6 fr" [ngClass]="{'col-md-12':!isNewRvwType}">
        <div id="editIcon" class="fr">
          <div>
            <button class="" *ngIf="isEdit===true && !isNewRvwType" mat-raised-button color="primary">Save</button>
            <button class="" *ngIf="isNewRvwType===true" mat-raised-button color="primary">Create</button>
            <button *ngIf="isEdit===false && !isNewRvwType" (click)="editReviewType()" mat-button color="primary">
              <mat-icon color="accent" style="font-size: 20px;" class="ft-size">edit</mat-icon>Edit
            </button>
            <button *ngIf="isEdit===true || isNewRvwType" class="mt-n1" (click)="cancelReviewType()" mat-button
              color="primary">
              <mat-icon color="accent" class="ft-size">cancel</mat-icon>Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="row mt-2">
        <div class="col-md-5">
          <mat-form-field matTooltip="Example : Choose an option from the drop down"
            [matTooltipPosition]="tooltipPosition" class="w-100">
            <mat-label>WorkFlow</mat-label>
            <mat-select formControlName="workFlowCtrl" required>
              <mat-option style="color: rgb(9, 2, 2);" *ngFor="let workFlow of workFlowList" [value]="workFlow.wfCd">
                {{workFlow.wfDesc}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="reviewInfoForm.controls['workFlowCtrl'].invalid">workflow required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field matTooltip="How many year in the review cycle?" [matTooltipPosition]="tooltipPosition"
            class="w-100">
            <mat-label>Review cycle year</mat-label>
            <input autocomplete="off" matInput placeholder="How many year in the review cycle?"
              formControlName="reviewCycleYrCtrl">
          </mat-form-field>
        </div>

        <div class="col-md-5">
          <label class="float-left dni">Allow Reviews by Role(s)</label>
          <mat-slide-toggle [labelPosition]="myLabelPosition" formControlName="reviewRolesCtrl" class="dni float-right">
          </mat-slide-toggle>
          <div class="clearfix" *ngIf="reviewInfoForm.controls['reviewRolesCtrl'].value"></div>
          <div>
            <mat-form-field matTooltip="Would you like to allow roles to see all reviews?"
              [matTooltipPosition]="tooltipPosition" class="w-100" class="full-width">
              <mat-label>Allow Reviews by Role(s) </mat-label>
              <mat-select [compareWith]="compare" formControlName="rolesCtrl" multiple>
                <mat-option style="color: rgb(9, 2, 2);" *ngFor="let reviewRole of allReviewsRolesList"
                  [value]="reviewRole.refCode">
                  {{reviewRole.refDesc}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <label class="float-left">Allow Reviews By Users</label>
          <mat-slide-toggle [labelPosition]="myLabelPosition" formControlName="userviewReviewsCtrl"
            class="float-right dni">
          </mat-slide-toggle>
          <div class="clearfix" *ngIf="reviewInfoForm.controls['userviewReviewsCtrl'].value"></div>
          <div>
            <mat-form-field class="full-width" [style.width.px]="650">
              <mat-chip-list #usersList formControlName="allowedUserGroup">
                <mat-chip *ngFor="let user of allowedUsers" [removable]="removable" (removed)="remove(user)">
                  {{user.fullName + " (" + user.userName + ")" }}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input #allowedUserInput placeholder="" [matChipInputFor]="usersList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                  (matChipInputTokenEnd)="addUserToAllowedReviewUsersList($event)"
                  [matAutocomplete]="userListAutocomplete" formControlName="allowedUserInput"
                  placeholder="Select Users to Allow" />
              </mat-chip-list>
              <mat-autocomplete #userListAutocomplete="matAutocomplete"
                (optionSelected)="addUserToAllowedReviewUserGroup($event);">
                <mat-option *ngFor="let user of filteredUsers$ | async" [value]="user">
                  {{user.fullName + " (" + user.userName + ")" }}
                </mat-option>
              </mat-autocomplete>
              <mat-error>At least 1 user need to be added</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-5">
          <label class="float-left">Allow all sub-recipients from EEM?</label>
          <mat-slide-toggle [labelPosition]="myLabelPosition" formControlName="eemsubrecipientsCtrl"
            class="float-right">
          </mat-slide-toggle>
          <div class="row" *ngIf="isEEMSubRecipients">
            <div class="col-md-4">
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <label class="float-left">Does this review type have site-level findings?</label>
          <mat-slide-toggle [labelPosition]="myLabelPosition" formControlName="siteLevelFindingsCtrl"
            class="float-right">
          </mat-slide-toggle>
        </div>
      </div>
      <hr />
      <div class="row mt-4">
        <h6 class="tul">Review Data Manager</h6>
      </div>
      <div class="row mt-4">
        <div class="col-md-5">
          <label class="float-left">Metadata (miscellaneous fields)</label>
          <mat-slide-toggle [labelPosition]="myLabelPosition" formControlName="metadataCtrl" class="float-right">
          </mat-slide-toggle>
          <div *ngIf="reviewInfoForm.controls['metadataCtrl'].value" class="mt-2 fr" style="margin-right:60px;">
            <mat-icon matTooltip="Does this review type have metadata(miscellaneous
          fields)?" [matTooltipPosition]="tooltipPosition" matSuffix mat-icon-button color="primary"
              (click)="openMetadataDialogDialog()">settings</mat-icon>
            <span class="fr ul">Manage</span>
          </div>
        </div>
        <div class="col-md-5">
          <label class="float-left">Compliance plan reminder</label>
          <mat-slide-toggle [labelPosition]="myLabelPosition" formControlName="complianceplanCtrl" class="float-right">
          </mat-slide-toggle>
          <div *ngIf="reviewInfoForm.controls['complianceplanCtrl'].value" class="mt-2 fr" style="margin-right:60px;">
            <mat-icon matTooltip="Does this review type have compliance plan reminder?"
              [matTooltipPosition]="tooltipPosition" matSuffix mat-icon-button color="primary"
              (click)="openPlanRemaindersDialog()">settings</mat-icon>
            <span class="fr ul">Manage</span>
          </div>
        </div>
      </div>

      <hr />
      <div class="row mt-4">
        <h6 class="tul">Custom List Settings</h6>
      </div>

      <div class="row mt-4">
        <div class="col-md-5">
          <label class="float-left">Do you need a custom document list?</label>
          <mat-slide-toggle [labelPosition]="myLabelPosition" formControlName="customedocumentCtrl"
            (click)="onCustomDocumentChange()" class="float-right"></mat-slide-toggle>
        </div>
        <div class="col-md-5">
          <label class="float-left">Do you need a custom findings list?</label>
          <mat-slide-toggle [labelPosition]="myLabelPosition" formControlName="customfindingsCtrl"
            (click)="onCustomFindingsChange()" class="float-right"></mat-slide-toggle>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-5">
          <label class="float-left">Do you need a custom findings rule list?</label>
          <mat-slide-toggle [labelPosition]="myLabelPosition" formControlName="customfindingsruleCtrl"
            (click)="onCustomFindingsRuleChange()" class="float-right"></mat-slide-toggle>
        </div>
        <div class="col-md-5">
          <label class="float-left">Do you need a custom stage role list?</label>
          <mat-slide-toggle [labelPosition]="myLabelPosition" formControlName="customstageroleCtrl"
            (click)="onCustomStageRoleChange()" class="float-right"></mat-slide-toggle>
        </div>
      </div>
    </div>
    <!-- <div class="clearfix col-12">
      <button type="button" class="btn btn-danger float-right">
        <i class="fa-solid fa-xmark"></i> Cancel
      </button>
      <button type="button" (click)="saveReview()" class="btn btn-success mx-3 float-right">
        <i class="fa-solid fa-floppy-disk"></i> Save
      </button>
    </div> -->
    <div class="row mb-4">
      <br>
    </div>
  </form>
</div>