  <div class="row p-1 ">
      <div class="col-md-10 float-right">
        <h6 md-dialog-title>Add New Stage Role</h6>
      </div>
    </div>
    <hr>
    <md-dialog-content>
<div class="row">
    <div class="col-lg-6">
                <mat-form-field style="width: 90%;" >
                    <mat-label>Role Class</mat-label>
                                <mat-select [(value)]=" addNewStageRole.roleCls">
                                    <mat-option style="color: rgb(9, 2, 2);" *ngFor="let roleClass of data.roleClassList"
                                        [value]="roleClass.refCode">
                                        {{roleClass.refDesc}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                
    </div>
    <div class="col-lg-6">
        <mat-form-field style="width: 90%;">
            <mat-label>Role Type</mat-label>
            <mat-select [(value)]=" addNewStageRole.roleType">
                <mat-option style="color: rgb(9, 2, 2);" *ngFor="let roleType of data.roleTypeList"
                    [value]="roleType.refCode">
                    {{roleType.refDesc}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        
    </div>
    <div class="col-lg-6">
        <mat-radio-group layout="row"  [(ngModel)]="addNewStageRole.roleInd"  aria-labelledby="example-radio-group-label" class="col-lg-9"
         class="radio-group">
        <mat-radio-button [checked]="addNewStageRole.roleInd===roleIndicator"
            class="radio-button col-md-3" style="font-size: 12px;width:150px"
            *ngFor="let roleIndicator of data.roleIndicatorList" [value]="roleIndicator"
           >
            {{ roleIndicator }}
        </mat-radio-button>
    </mat-radio-group>
        
    </div>
    <div class="col-lg-6">
        <mat-checkbox (checked)="addNewStageRole.roleReqd==='Y'"  (click)="addNewStageRole.roleReqd==='Y'?addNewStageRole.roleReqd='N':addNewStageRole.roleReqd='Y'" > Role required
    </mat-checkbox>
        
    </div>
</div>
<div class="row">
    <div class="col-lg-6" >
    <mat-form-field style="width: 90%;">
        <mat-label>Role Rule</mat-label>
        <mat-select [(value)]=" addNewStageRole.roleRule" >
            <mat-option style="color: rgb(9, 2, 2);" *ngFor="let roleRule of data.roleRuleList"
                [value]="roleRule.item_id">
                {{roleRule.item_text}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <div class="col-lg-6">
        <mat-form-field class="example-full-width col-lg-12" appearance="legacy">
            <mat-label>Minimum</mat-label>
            <input class="col-lg-2" type="number" [(ngModel)]="addNewStageRole.minNos" matInput placeholder="Minimum"
                >
        </mat-form-field>
    </div>
    <div class="col-lg-6">
        <mat-form-field class="example-full-width col-lg-12" appearance="legacy">
            <mat-label>Maximum</mat-label>
            <input class="col-lg-2" type="number" [(ngModel)]="addNewStageRole.maxNos" matInput placeholder="Maximum"
                >
        </mat-form-field>
    </div>
    <div class="col-lg-6">
        <mat-form-field style="width: 90%;">
            <mat-label>Data Source</mat-label>
            <mat-select  [(value)]=" addNewStageRole.dataSrc">
                <mat-option style="color: rgb(9, 2, 2);" *ngFor="let dataSrc of data.dataSrcList"
                    [value]="dataSrc.item_id">
                    {{dataSrc.item_text}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>
      
    </md-dialog-content>
    <hr>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button cdkFocusInitial (click)="addNewStage()">Add</button>
    </mat-dialog-actions>