<form [formGroup]="documentListDialogInfoForm">
   <div>
      <div class="row  ">
         <div class="col-md-9 ">
            <h6 md-dialog-title>{{data.documentValue.docName}}</h6>
         </div>
         <div class="col-md-2 ms-4 mt-1 float-right">
            <button class="mt-1" *ngIf="!flip" mat-button color="primary">
               <mat-icon color="accent">edit</mat-icon>
               Edit
            </button>
            <button class="mt-1" (click)="onclick()" *ngIf="flip" mat-button color="primary">

               Back
            </button>
         </div>
      </div>
      <hr>
      <div id="f1_container">
         <div id="f1_card">
            <div class="front face">
               <div class="col-lg-12">

                  <mat-form-field class="example-full-width col-lg-12" appearance="legacy">
                     <mat-label>Instructions</mat-label>
                     <textarea matInput placeholder="Enter instruction"></textarea>
                  </mat-form-field>
               </div>
               <div *ngFor="let r of docTypeList">
                  <div *ngIf="r.item_id===data.controls.value.doctblTypeCtrl">
                     <span *ngIf="r.item_id===data.controls.value.doctblTypeCtrl">{{r.item_text}} rules</span>
                     <div class="row" *ngIf="r.item_id==='A'">
                        <div class="col-lg-6">
                           <mat-form-field class="example-full-width col-lg-12" appearance="legacy">
                              <mat-label class="col-lg-6">Mininum files</mat-label>
                              <input class="col-lg-2" type="number" matInput placeholder="Enter minimum files">
                           </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                           <mat-form-field class="example-full-width col-lg-12" appearance="legacy">
                              <mat-label class="col-lg-6">Maximum files</mat-label>
                              <input class="col-lg-2" type="number" matInput placeholder="Enter maximum files">
                           </mat-form-field>
                        </div>
                     </div>
                     <div class="col-lg-12" *ngIf="r.item_id==='A'">
                        <div class="col-lg-9">
                           <label class="col-lg-6">File type applicability</label>
                           <mat-slide-toggle [labelPosition]="myLabelPosition" formControlName="fileTypeApplCtrl">
                           </mat-slide-toggle>
                           <div *ngIf="documentListDialogInfoForm.controls['fileTypeApplCtrl'].value" class="mt-2">
                              <mat-icon matTooltip="File Types" (click)="onclick()"
                                 [matTooltipPosition]="tooltipPosition" matSuffix mat-icon-button color="primary">
                                 add_card</mat-icon>
                           </div>
                        </div>
                     </div>
                     <div>
                        <div class="row" *ngIf="r.item_id==='F'">
                           <div class="col-lg-12">
                              <mat-form-field class="full-width">
                                 <input matInput required [(ngModel)]="selectedSearchFormRules" [matAutocomplete]="auto"
                                    [formControl]="searchFormRulesCtrl" placeholder="Min 3 Characters Ex. Ogs" />
                                 <button *ngIf="selectedSearchFormRules" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="clearSelection()">
                                    <mat-icon>close</mat-icon>
                                 </button>
                                 <div style="margin-bottom: -30px">
                                    <mat-icon style="margin-top: -2px" matSuffix></mat-icon>
                                 </div>
                                 <span matSuffix>
                                    <mat-icon matSuffix>search</mat-icon>
                                 </span>
                                 <mat-label>Select Form Rules</mat-label>
                                 <mat-autocomplete [panelWidth]="670" #auto="matAutocomplete"
                                    [displayWith]="displayWith">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                       <mat-option *ngFor="let formRule of filteredFormRules" [value]="formRule">
                                          <span><b>{{formRule.formDescription}}</b> ({{formRule.formCode}})</span>
                                       </mat-option>
                                    </ng-container>
                                 </mat-autocomplete>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="row" *ngIf="r.item_id==='E'">
                           <div class="col-lg-12">
                              <mat-form-field class="full-width">
                                 <input matInput required [(ngModel)]="selectedSearchFlexform" [matAutocomplete]="auto"
                                    [formControl]="searchFlexformCtrl" placeholder="Min 3 Characters Ex. Ogs" />
                                 <button *ngIf="selectedSearchFlexform" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="clearSelection()">
                                    <mat-icon>close</mat-icon>
                                 </button>
                                 <div style="margin-bottom: -30px">
                                    <mat-icon style="margin-top: -2px" matSuffix></mat-icon>
                                 </div>
                                 <span matSuffix>
                                    <mat-icon matSuffix>search</mat-icon>
                                 </span>
                                 <mat-label>Select Enhanced FlexForm</mat-label>
                                 <mat-autocomplete [panelWidth]="670" #auto="matAutocomplete"
                                    [displayWith]="displayWith">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                       <mat-option *ngFor="let flexForm of filteredFlexform" [value]="flexForm">
                                          <span
                                             *ngIf="flexForm.formCode != null; else templateName"><b>{{flexForm.name}}</b>
                                             ({{flexForm.formCode}})</span>
                                          <ng-template #templateName>
                                             <span><b>{{flexForm.name}}</b></span>
                                          </ng-template>
                                       </mat-option>
                                    </ng-container>
                                 </mat-autocomplete>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="col-lg-12" *ngIf="r.item_id==='V'">
                           <mat-form-field appearance="standard" class="full-width">
                              <mat-label>Email Template</mat-label>
                              <mat-select>
                                 <mat-option style="color: rgb(9, 2, 2);" *ngFor="let email of emailTemplateList"
                                    [value]="email.emailTemplateId">
                                    {{email.templateName}}
                                 </mat-option>
                              </mat-select>
                           </mat-form-field>
                        </div>
                        <div class="col-lg-12" *ngIf="r.item_id==='V'">
                           <div class="row">
                              <div class="col-lg-9">
                                 <label class="col-lg-6">Editable</label>
                                 <mat-slide-toggle [labelPosition]="myLabelPosition"
                                    formControlName="approvalsEditCtrl">
                                 </mat-slide-toggle>
                              </div>

                           </div>
                        </div>

                        <div class="col-lg-12" *ngIf="r.item_id==='V'">
                           <div class="col-lg-9">
                              <label class="col-lg-6">Unlimited</label>
                              <mat-slide-toggle [labelPosition]="myLabelPosition" formControlName="approvalsUnlimtCtrl">
                              </mat-slide-toggle>
                           </div>
                        </div>
                        <div class="col-lg-12" *ngIf="r.item_id==='V'">
                           <mat-form-field appearance="standard" class="full-width">
                              <mat-label>Import</mat-label>
                              <mat-select formControlName="docapprovalimportCtrl">
                                 <mat-option style="color: rgb(9, 2, 2);"
                                    *ngFor="let docApprovalsImport of docApprovalsImportList"
                                    [value]="docApprovalsImport.item_id">
                                    {{docApprovalsImport.item_text}}
                                 </mat-option>
                              </mat-select>
                           </mat-form-field>
                        </div>

                        <mat-form-field class="example-form-field" appearance="fill" *ngIf="r.item_id==='F'">
                           <mat-label>Effective Date</mat-label>
                           <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="campaignOnePicker"
                              [comparisonStart]="campaignTwo.value.start" [comparisonEnd]="campaignTwo.value.end">
                              <input matStartDate placeholder="Start date" formControlName="start">
                              <input matEndDate placeholder="End date" formControlName="end">
                           </mat-date-range-input>
                           <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                           <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                           <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
                        </mat-form-field>
                        <div class="col-lg-12" *ngIf=" r.item_id==='Q'">
                           <div class="col-lg-12">
                              <mat-form-field class="full-width">
                                 <input matInput required [(ngModel)]="selectedSearchQuestionnaire"
                                    [matAutocomplete]="auto" [formControl]="searchQuestionnaireCtrl"
                                    placeholder="Min 3 Characters Ex. Ogs" />
                                 <button *ngIf="selectedSearchQuestionnaire" matSuffix mat-icon-button
                                    aria-label="Clear" (click)="clearSelection()">
                                    <mat-icon>close</mat-icon>
                                 </button>
                                 <div style="margin-bottom: -30px">
                                    <mat-icon style="margin-top: -2px" matSuffix></mat-icon>
                                 </div>
                                 <span matSuffix>
                                    <mat-icon matSuffix>search</mat-icon>
                                 </span>
                                 <mat-label>Select Questionnaire</mat-label>
                                 <mat-autocomplete [panelWidth]="670" #auto="matAutocomplete"
                                    [displayWith]="displayWith">
                                    <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
                                    <ng-container *ngIf="!isLoading">
                                       <mat-option *ngFor="let questionnaire of filteredQuestionnaire"
                                          [value]="questionnaire">
                                          <span><b>{{questionnaire.name}}</b>
                                             ({{questionnaire.questionnaireCode}})</span>
                                       </mat-option>
                                    </ng-container>
                                 </mat-autocomplete>
                              </mat-form-field>
                           </div>
                        </div>
                        <div class="col-lg-12" *ngIf="r.item_id==='E' || r.item_id==='Q'">
                           <div class="col-lg-9">
                              <label class="col-lg-6">Allow multiple instance</label>
                              <mat-slide-toggle [labelPosition]="myLabelPosition" formControlName="alloMultipleInsCtrl">
                              </mat-slide-toggle>
                           </div>
                        </div>
                        <div class="col-lg-12"
                           *ngIf="r.item_id==='Q' && documentListDialogInfoForm.controls['alloMultipleInsCtrl'].value">
                           <mat-form-field class="example-full-width col-lg-12" appearance="legacy">
                              <mat-label>Links to GEMS Light: Questionarie Field</mat-label>
                              <input matInput placeholder="Enter Field">
                           </mat-form-field>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="back face center" style="height: 250px;overflow:auto;">

               <table mat-table [dataSource]="dataSourceRemainder" style="width: 100%;">
                  <!-- <ng-container matColumnDef="{{column.key}}" *ngFor="let column of columnsToDisplay">
                    <th width="20" mat-header-cell *matHeaderCellDef> {{column.name}} </th>
                    <td width="20" mat-cell *matCellDef="let element"> {{element[column.key]}} </td>
                  </ng-container> -->

                  <ng-container matColumnDef="refType">

                     <th style="padding:5px;font-weight:500;font-size:14px;color:black" mat-header-cell
                        *matHeaderCellDef>File Type </th>

                     <td width="30" style="padding:5px;font-size:12px;text-align: left;" mat-cell
                        *matCellDef="let element">
                        <span style=""> {{element.refType}} </span>
                     </td>
                  </ng-container>
                  <ng-container matColumnDef="refDesc">



                     <th style="padding:5px;font-weight:500;font-size:14px;color:black" mat-header-cell
                        *matHeaderCellDef> Description </th>

                     <td width="30" style="padding:5px;font-size:12px;text-align: left;" mat-cell
                        *matCellDef="let element">
                        {{element.refDesc}} </td>
                  </ng-container>
                  <ng-container matColumnDef="sel">

                     <th style="padding:5px;font-weight:500;font-size:14px;color:black" mat-header-cell
                        *matHeaderCellDef> Sel. </th>

                     <td width="30" style="padding:5px;font-size:12px;" mat-cell *matCellDef="let element">
                        <mat-checkbox> </mat-checkbox>
                  </ng-container>
                  <ng-container matColumnDef="sizeApply">

                     <th style="padding:5px;font-weight:500;font-size:14px;color:black" mat-header-cell
                        *matHeaderCellDef> Size Appl. </th>

                     <td width="30" style="padding:5px;font-size:12px;" mat-cell *matCellDef="let element">
                        <mat-checkbox> </mat-checkbox>
                  </ng-container>
                  <ng-container matColumnDef="maxSize">

                     <th style="padding:5px;font-weight:500;font-size:14px;color:black" mat-header-cell
                        *matHeaderCellDef> Max Size </th>

                     <td width="30" style="padding:5px;font-size:12px;" mat-cell *matCellDef="let element">
                        <mat-checkbox> </mat-checkbox>
                  </ng-container>
                  <ng-container matColumnDef="pageApply">

                     <th style="padding:5px;font-weight:500;font-size:14px;color:black" mat-header-cell
                        *matHeaderCellDef> Page Appl. </th>

                     <td width="30" style="padding:5px;font-size:12px;" mat-cell *matCellDef="let element">
                        <mat-checkbox> </mat-checkbox>
                     </td>

                  </ng-container>
                  <ng-container matColumnDef="Del">

                     <th style="padding:5px;font-weight:500;font-size:14px;color:black" mat-header-cell
                        *matHeaderCellDef> Del </th>

                     <td width="30" style="padding:5px;font-size:12px;" mat-cell *matCellDef="let element">
                        <mat-checkbox> </mat-checkbox>
                     </td>
                  </ng-container>

                  <ng-container matColumnDef="min">

                     <th style="padding:5px;font-weight:500;font-size:14px;color:black" mat-header-cell
                        *matHeaderCellDef> Min. Size </th>

                     <td width="30" style="padding:5px;font-size:12px;" mat-cell *matCellDef="let element">
                        <mat-checkbox> </mat-checkbox>
                     </td>
                  </ng-container>
                  <ng-container matColumnDef="max">

                     <th style="padding:5px;font-weight:500;font-size:14px;color:black" mat-header-cell
                        *matHeaderCellDef> Max. Size</th>

                     <td width="30" style="padding:5px;font-size:12px;" mat-cell *matCellDef="let element">
                        <mat-checkbox> </mat-checkbox>
                     </td>
                  </ng-container>


                  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" class="example-element-row">
                  </tr>
               </table>
            </div>
         </div>
      </div>

      <hr>
      <mat-dialog-actions align="end" *ngIf="!flip">
         <button mat-button mat-dialog-close>Cancel</button>
         <button mat-button mat-raised-button color="primary">Save</button>
      </mat-dialog-actions>
   </div>
</form>