<div  class="row p-1 bt-c ">
  <div class="col-lg-5 col-md-5 ">
  <h6>Add Meta Data</h6>
  </div>
  <div class="col-lg-7 col-md-7"  style="display:flex;flex-direction:row-reverse"> 
    <button style="padding: 0;" (click)="isEdit=!isEdit;setColumn('edit')" *ngIf="!isEdit" class= "mt-n1" mat-button color="primary">
    <mat-icon color="accent" class="ft-size">edit</mat-icon>Edit</button>
    <button style="padding: 0;" (click)="isEdit=!isEdit;setColumn('')" *ngIf="isEdit" class= "mt-n1" mat-button color="primary">
      <mat-icon color="accent" class="ft-size">cancel</mat-icon>Cancel</button> 
      <button style="padding: 0;" (click)="isEdit=!isEdit;editRow(dataSource);setColumn('')"  *ngIf="isEdit" class= "mt-n1" mat-button color="primary">
        <mat-icon color="accent" class="ft-size">save</mat-icon>Update</button> 
        <button style="padding: 0;"  class= "mt-n1"  *ngIf="!isEdit" mat-button color="primary" (click)="addRow();isEdit=!isEdit;;setColumn('edit')">
          <mat-icon color="accent" class="ft-size">add</mat-icon>Add</button> 
        </div>

    
     
  </div>
<mat-dialog-content class="mat-typography">
  <table class="mt-n2" mat-table [dataSource]="dataSource" style="margin:initial">
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      <th mat-header-cell *matHeaderCellDef width="70%">
        {{ col.label }}
      </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'w-merge':col.label==='Merge Field' , 'non-merge': col.label!='Merge Field' }" >
        <div [ngSwitch]="col.type" *ngIf="!isEdit">
         

          <div class="btn-edit"  *ngSwitchCase="'isEdit'">
            <button mat-button class="button-remove" (click)="removeRow(element.id)">
              <mat-icon color="accent" style="color: red;" class="ft-size">delete</mat-icon>
            </button>
            <!-- <button mat-button (click)="element.isEdit = !element.isEdit">
              Edit
            </button> -->
           
          </div>
          <span *ngSwitchDefault>
            {{ element[col.key] }}
          </span>
        
        </div>
        <div [ngSwitch]="col.type" *ngIf="isEdit" style="padding:10px">
          
          
          <mat-form-field class="form-input"   style="width: 100%;"  *ngSwitchDefault >
            <input  *ngIf="col.label==='Merge Field'"  fullWidth matInput [required]="col.required" [pattern]="col.pattern" [type]="col.type"
              [(ngModel)]="element[col.key]" />
              <textarea matInput [required]="col.required" fullWidth *ngIf="col.label!='Merge Field'" [pattern]="col.pattern" [type]="col.type"
              [(ngModel)]="element[col.key]" ></textarea>
          </mat-form-field>
         
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</mat-dialog-content>


<!-- <section class="meta-data-popup">
  <section class="table-header">
    <div class="row p-1 ">
      <div class="col-md-10 float-right">
      <h6>Add meta data</h6>
      </div>
       
        <div class="col-md-1 ms-4 mt-1 float-right"> 
          <button  class= "mt-1" mat-button color="primary">
          <mat-icon color="accent">add</mat-icon>Add</button> </div>
        <div class="col-md-1 ms-4 mt-1 float-right"> 
          <button class= "mt-1" mat-button color="primary">
          <mat-icon color="accent">add</mat-icon>Add</button> </div>
       
     
      </div>
    <div>
      <button class="button-add-row" mat-button (click)="addRow()">
        Add Row
      </button>
    </div>
  </section>
  <table mat-table [dataSource]="dataSource">
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      <th mat-header-cell *matHeaderCellDef>
        {{ col.label }}
      </th>
      <td mat-cell *matCellDef="let element">
        <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <!-- <button mat-button (click)="element.isEdit = !element.isEdit">
              Edit
            </button> -->
            <!-- <button mat-button class="button-remove" (click)="removeRow(element.id)">
              Delete
            </button>
          </div>
          <span *ngSwitchDefault>
            {{ element[col.key] }}
          </span>
        </div>
        <div [ngSwitch]="col.type" *ngIf="element.isEdit">
          <div *ngSwitchCase="'isSelected'"></div>
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button mat-button (click)="editRow(element)" [disabled]="disableSubmit(element.id)">
              Done
            </button>
          </div>
          <mat-form-field class="form-input" *ngSwitchDefault>
            <input matInput [required]="col.required" [pattern]="col.pattern" [type]="col.type"
              [(ngModel)]="element[col.key]" />
          </mat-form-field>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</section> --> 