<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" [ngClass]="!activeMenu ? 'active':''" (click)="showMenu('menu')">Menu Mapping</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [ngClass]="!activeMenu ? '':'active'" (click)="showMenu('emp')">Employee Mapping</a>
    </li>
</ul>

<div class="col-lg-12 mt-10">
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header #panelSearch class="mat-expansion-panel-header">
                <mat-panel-title>
                    <div class="row" style="width: 100%;">
                        <div class="col-lg-12">
                            <span class="mat-panel-title-span"
                                [innerText]="!activeMenu ? 'Menu/Role Mapping' : 'Employee/Role Mapping' ">
                            </span>
                        </div>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row mt-10">
                <div class="col-lg-3" *ngIf="!activeMenu">
                    <mat-form-field>
                        <mat-label>User Role</mat-label>
                        <mat-select [(value)]="selectedRole">
                            <mat-option style="color: rgb(9, 2, 2);" *ngFor="let role of userRoleList"
                                (onSelectionChange)="selectedUserRole(role, $event, 'menu')" [value]="role.id">
                                {{role.itemName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row" *ngIf="activeMenu">
                    <div class="col-lg-4">
                        <mat-form-field class="full-width">
                            <input matInput [matAutocomplete]="auto" placeholder="Min 3 Characters Ex. Ogs" />
                            <button matSuffix mat-icon-button aria-label="Clear">
                                <mat-icon class="mr-10">close</mat-icon>
                            </button>
                            <div style="margin-bottom: -30px">
                                <mat-icon class="mr-10" style="margin-top: -2px" matSuffix></mat-icon>
                            </div>
                            <span matSuffix>
                                <mat-icon class="mr-10" matSuffix>search</mat-icon>
                            </span>
                            <mat-label>Search User Name/First & Last Name/Email</mat-label>
                            <mat-autocomplete #auto="matAutocomplete">
                                <ng-container>
                                    <mat-option>
                                        <span></span>
                                    </mat-option>
                                </ng-container>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3">
                        <mat-form-field>
                            <mat-label>User Role</mat-label>
                            <mat-select [(value)]="selectedRole">
                                <mat-option style="color: rgb(9, 2, 2);" *ngFor="let role of userRoleList"
                                    (onSelectionChange)="selectedUserRole(role, $event)" [value]="role.id">
                                    {{role.itemName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3">
                        <button class="mt-1 cursor" mat-button style="color: #bd3640;"
                            [ngClass]="!checkSubmitButton() ? 'disable-field': '' " (click)="saveNewEmployee()">
                            <mat-icon class="mr-10">save</mat-icon>
                            <span class="mt-20">Submit</span>
                        </button>
                        <button class="mt-1 cursor" mat-button style="color: #bd3640;" (click)="showMenu('emp')">
                            <mat-icon class="mr-10">cancel</mat-icon>
                            <span class="mt-20">Reset</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 mt-10 mrg-10">
                <mat-accordion class="example-headers-align" multi>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header #panelSearch1 class="mat-expansion-panel-header" >
                            <mat-panel-title>
                                <div class="row" style="width: 100%;">
                                    <div class="col-lg-4">
                                        <span class="mat-panel-title-span"
                                            [innerText]="!activeMenu ? 'Menu List(s)' : 'Employee List(s)' "></span>
                                    </div>
                                    <div class="col-lg-8" style="text-align: right;">
                                        <button class="mt-1 cursor" mat-button style="color: #bd3640;"
                                            [ngClass]="!activeMenu ? !checkManuMappingData() ? 'disable-field': '' : !checkEmployeeMappingData() ? 'disable-field': '' "
                                            (click)="panelSearch1._toggle(); saveMenuorEmpMapping()">
                                            <mat-icon class="mr-10">save</mat-icon>
                                            <span class="mt-20">Save</span>
                                        </button>
                                        <button class="mt-1 cursor" mat-button style="color: #bd3640;"
                                            (click)="panelSearch1._toggle(); !activeMenu ? showMenu('menu') : showMenu('emp')">
                                            <mat-icon class="mr-10">cancel</mat-icon>
                                            <span class="mt-20">Cancel</span>
                                        </button>
                                    </div>
                                </div>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="row column-search mt-20" *ngIf="!activeMenu">
                            <table mat-table [dataSource]="roleAndMenuMapping" class="tbl-width">
                                <!-- Position Column -->
                                <ng-container matColumnDef="menuName">
                                    <th mat-header-cell *matHeaderCellDef>Menu Name</th>
                                    <td mat-cell *matCellDef="let element">
                                        <span title="{{element.menuName}}" [innerHTML]="element.menuName"></span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="isActive">
                                    <th mat-header-cell *matHeaderCellDef>Visible</th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-checkbox [(ngModel)]="element.isActive" (change)="!element.isActive"
                                            [checked]="element.isActive"></mat-checkbox>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="isAddorDelete">
                                    <th mat-header-cell *matHeaderCellDef>Add/Delete</th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-checkbox [(ngModel)]="element.isAddorDelete"
                                            (change)="!element.isAddorDelete"
                                            [checked]="element.isAddorDelete"></mat-checkbox>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedRoleMenuColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedRoleMenuColumns;"></tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" [attr.colspan]="displayedRoleMenuColumns.length">No
                                        Records Found
                                    </td>
                                </tr>
                            </table>
                            <mat-paginator #menuListPaginator [pageSizeOptions]="[5, 10, 15, 20, 25]"
                                showFirstLastButtons></mat-paginator>
                        </div>
                        <div class="row column-search mt-20" *ngIf="activeMenu">
                            <div class="col-lg-3 float-end">
                                <mat-form-field>
                                    <mat-label>Filter(s)</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
                                </mat-form-field>
                            </div>
                            <table mat-table [dataSource]="employeeRoleMapping" class="tbl-width">
                                <!-- Position Column -->
                                <ng-container matColumnDef="employeeName">
                                    <th mat-header-cell *matHeaderCellDef>Employee Name</th>
                                    <td mat-cell *matCellDef="let element">
                                        <span title="{{element.employeeName}}"
                                            [innerHTML]="element.employeeName"></span>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="roleId">
                                    <th mat-header-cell *matHeaderCellDef>Role</th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-form-field>
                                            <!-- <mat-label>User Role</mat-label> -->
                                            <mat-select [(value)]="element.roleId">
                                                <mat-option style="color: rgb(9, 2, 2);"
                                                    *ngFor="let role of userRoleList" [value]="role.id">
                                                    {{role.itemName}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedEmployeeMapColumns; sticky: true"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedEmployeeMapColumns;"></tr>
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" [attr.colspan]="displayedEmployeeMapColumns.length">No
                                        Records Found
                                    </td>
                                </tr>
                            </table>
                            <mat-paginator #employeeMapPaginator [pageSizeOptions]="[5, 10, 15, 20, 25]"
                                showFirstLastButtons></mat-paginator>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
</div>