<!-- <span style="float: right;cursor: pointer !important;" [mat-dialog-close]>X</span> -->
<div class="close-btn-outer">
  <button style="float: right;background-color: white;" mat-button mat-dialog-close>X</button>

  <!-- <button class="close-btn-inner" style="background-color: none;"   (click)="close()">
      <mat-icon>close</mat-icon>
  </button> -->
</div>
<h1 mat-dialog-title>Add Rule</h1>
<hr>
<form [formGroup]="addFindingRuleForm" (ngSubmit)="onSubmit()" autocomplete="off" class="user-form">
  <div mat-dialog-content> 
    <div class="row p-3">
        <div class="col col-md-12">
            <table mat-table [dataSource]="dataSource">
                <!-- Position Column -->
                <ng-container matColumnDef="group">
                  <th mat-header-cell *matHeaderCellDef>Group</th>
                  <td mat-cell *matCellDef="let element">  
                    <mat-slide-toggle formControlName="groupId" [labelPosition]="myLabelPosition1" [checked]="recStat === true ? true : false"
                    (change)="recStat = !recStat">
                    <!-- {{ recStat ? "Active" : "Inactive" }} -->
                </mat-slide-toggle></td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="andOr">
                  <th mat-header-cell *matHeaderCellDef>And/Or</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-form-field appearance="outline">
                        <mat-label>Choose</mat-label>
                        <!-- <mat-select formControlName="andOrList" [disabled]="disableAndOrList"> -->
                          <mat-select formControlName="andOr" [disabled]="!data.andOr">
                          <mat-option *ngFor="let selectedValue of andOrList" [value]="selectedValue.item_id">
                            {{selectedValue.item_text}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                  </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="formQuestionnaire">
                  <th mat-header-cell *matHeaderCellDef>Form/Questionnaire</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-form-field appearance="outline">
                        <mat-label>Choose</mat-label>
                        <mat-select formControlName="sourceType" (selectionChange)="selectRuleType($event.value,element)">
                          <mat-option *ngFor="let formQuestionnaireData of formQuestionnaireList" [value]="formQuestionnaireData.item_id">
                            {{formQuestionnaireData.item_text}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                  
                      <mat-form-field appearance="outline" *ngIf ="addFindingRuleForm.controls['sourceType'].value!=null && addFindingRuleForm.controls['sourceType'].value==='FORM'">
                        <mat-label>Choose</mat-label>
                        <mat-select  formControlName="flexFormPdftemplateId" (selectionChange)="getFieldMethod($event.value,element)">
                          <mat-option *ngFor="let flexFormTemplate of flexFormPdftemplateList" [value]="flexFormTemplate.id">
                            {{flexFormTemplate.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    
                      <mat-form-field appearance="outline" *ngIf ="addFindingRuleForm.controls['sourceType'].value!=null  && addFindingRuleForm.controls['sourceType'].value==='QUESTIONNAIRE'">
                        <mat-label>Choose</mat-label>
                        <mat-select formControlName="questionnaireId" (selectionChange)="getFieldMethod($event.value,element)">
                          <mat-option *ngFor="let selectedvalue of _arrSelectedList" [value]="selectedvalue.id">
                            {{selectedvalue.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                     
                      <mat-form-field appearance="outline" *ngIf = "addFindingRuleForm.controls['flexFormPdftemplateId'].value!=null && addFindingRuleForm.controls['sourceType'].value==='FORM'">
                        <mat-label>Choose</mat-label>
                        <mat-select  formControlName="flexFormPdftemplateFieldId"(selectionChange)="getOperator($event.value,element)">
                          <mat-option *ngFor="let fieldvalue of fieldListData" [value]="fieldvalue.id">
                            {{fieldvalue.fieldName}}
                          </mat-option>
                          <!-- <mat-option *ngFor="let selectedvalue of selectedList" [value]="selectedvalue?.flexFormPdftemplateFields[0].id">
                            {{selectedvalue?.flexFormPdftemplateFields[0].name}}
                          </mat-option> -->
                        </mat-select>
                      </mat-form-field>
                  
                      <mat-form-field appearance="outline" *ngIf ="addFindingRuleForm.controls['questionnaireId'].value!=null && addFindingRuleForm.controls['sourceType'].value==='QUESTIONNAIRE'">
                        <mat-label>Choose</mat-label>
                        <mat-select (selectionChange)="getOperator($event.value,element)" formControlName="questionnaireFieldId" >
                          <mat-option *ngFor="let fieldvalue of questionariesFieldsTemplate" [value]="fieldvalue.id">
                            {{fieldvalue.fieldName}}
                          </mat-option>
                          <!-- <mat-option *ngFor="let selectedvalue of selectedList" [value]="selectedvalue?.flexFormPdftemplateFields[0].id">
                            {{selectedvalue?.flexFormPdftemplateFields[0].name}}
                          </mat-option> -->
                        </mat-select>
                      </mat-form-field>
                  </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="operator">
                  <th mat-header-cell *matHeaderCellDef>Operator</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-form-field appearance="outline">
                        <mat-label>Choose</mat-label>
                        <mat-select [disabled]="disableOperatorData" formControlName="operator">
                          <!-- <mat-option [value]="operatorListItem?.id">
                            {{operatorListItem?.fieldType}}
                          </mat-option> -->
                          <mat-option *ngFor="let operatorvalue of operatorList" [value]="operatorvalue.item_text">
                            {{operatorvalue.item_text}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                     
                  </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="value">
                  <th mat-header-cell *matHeaderCellDef>Value</th>
                  <td mat-cell *matCellDef="let element">
                    <mat-form-field appearance="outline">
                      <mat-label>Choose</mat-label>
                      <mat-select formControlName="valueType" (selectionChange)="formTextQuestMethod($event.value,element)">
                        <mat-option *ngFor="let formTextQuestionnaireListData of formTextQuestionnaireList" [value]="formTextQuestionnaireListData.item_id">
                          {{formTextQuestionnaireListData.item_text}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" appearance="outline" *ngIf='isTextBox'>
                      <mat-label>Text</mat-label>
                      <textarea matInput formControlName="valueText" placeholder="Ex. It makes me feel..."></textarea>
                    </mat-form-field>
                    <mat-form-field appearance="outline" *ngIf='isFormValueData'>
                      <mat-label>Choose</mat-label>
                      <mat-select [disabled]="disableFormTextQuestData" formControlName="flexFormPdftemplateIdValue" (selectionChange)="getValueFieldMethod($event.value,element)">
                        <mat-option *ngFor="let selectedvalue of _arrSelectedValueList" [value]="selectedvalue.id">
                          {{selectedvalue.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" *ngIf='isQuestValueData'>
                      <mat-label>Choose</mat-label>
                      <mat-select [disabled]="disableFormTextQuestData" formControlName="questionnaireIdValue" (selectionChange)="getValueFieldMethod($event.value,element)">
                        <mat-option *ngFor="let selectedvalue of _arrSelectedValueList" [value]="selectedvalue.id">
                          {{selectedvalue.name}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" *ngIf='isFormFieldValueData'>
                      <mat-label>Choose</mat-label>
                      <mat-select formControlName="flexFormPdftemplateFieldIdValue" [disabled]="disableFieldTextData">
                        <mat-option *ngFor="let fieldvalue of fieldValueListData" [value]="fieldvalue.id">
                          {{fieldvalue.fieldName}}
                        </mat-option>
                        <!-- <mat-option *ngFor="let selectedvalue of selectedList" [value]="selectedvalue?.flexFormPdftemplateFields[0].id">
                          {{selectedvalue?.flexFormPdftemplateFields[0].name}}
                        </mat-option> -->
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" *ngIf='isQuestFieldValueData'>
                      <mat-label>Choose</mat-label>
                      <mat-select formControlName="questionnaireFieldIdValue" [disabled]="disableFieldTextData">
                        <mat-option *ngFor="let fieldvalue of fieldValueListData" [value]="fieldvalue.id">
                          {{fieldvalue.fieldName}}
                        </mat-option>
                        <!-- <mat-option *ngFor="let selectedvalue of selectedList" [value]="selectedvalue?.flexFormPdftemplateFields[0].id">
                          {{selectedvalue?.flexFormPdftemplateFields[0].name}}
                        </mat-option> -->
                      </mat-select>
                    </mat-form-field>
                  </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
        </div>
    </div>
  </div>
  <hr>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary"  type="submit">Add</button>
</div>
</form>

<!-- <mat-dialog-content class="mat-typography">

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial>Add</button>
</mat-dialog-actions> -->