
.card-body-header{
}

.d-height {
  min-height: 400px;
  border:  1px solid lavender;
  background-color: #fff;
  margin: -20px 18px 20px 18px;
}

.mat-tab-nav-bar,
.mat-tab-header {
  border-bottom: none !important;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #c57763;
}

.card-body-user {
  margin: 10px;
  padding: 0.5rem 0.5rem;
}

.border-card {
  margin: 10px -17px 0px -17px;
}

.tbl-width{
  width: 100%;
  border: 1px solid lavender;
}

.mat-header-row {
  background-color: #112e51;
  
}
.mat-header-cell{
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #fff;
  text-transform: capitalize;
}

.card-center{
  width: 97%;
  margin-left: 20px;
}

tr.mat-header-row {
  height: 40px !important;
}
tr.mat-row, tr.mat-footer-row {
  height: 45px !important;
}
.mat-expansion-panel-body {
  padding: 0 0px 15px 20px !important;
}
.column-search{
  text-transform: capitalize;
}
.mat-no-data-row{
  text-align: center;
}
.mat-table{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mat-expansion-panel-header{
  border-bottom: 1px solid lavender;
  background-color: #e5e5e6 !important;
  height: 42px !important;
}

.mat-panel-title-span{
  font-size: 17px;
  font-weight: 500;
  line-height: 45px;
}

.mat-tab-header-manual{
  background: #bda73642 ;
}






