<div>
    <div class="row header">
        <div class="col-lg-10 mt-5">
            <h6>{{headerName}}</h6>
        </div>
        <div class="col-lg-2 mt-5" style="text-align: right">
            <span style="cursor: pointer !important;" [mat-dialog-close]><b>X</b></span>
        </div>
    </div>
    <div *ngIf="pageName == 'directorContact' ">
        <div class="row mt-20">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input autocomplete="off" id="name" readonly matInput disabled = "true" [value]="contactInfo.contact_name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input autocomplete="off" id="phoneNumber" readonly matInput disabled = "true" [value]="contactInfo.contact_phone">
            </mat-form-field>
            <mat-form-field>
                <mat-label>E-Mail</mat-label>
                <input autocomplete="off" id="eMail" readonly matInput disabled = "true" [value]="contactInfo.contact_email">
            </mat-form-field>
        </div>
    </div>
</div>