.radio-button {
    margin: 10px;
}

.border{
    border: 1px solid #e5e5e6;
    padding: 3px;
}


#addSchedule .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    max-height: calc(100vh - 565px);
    min-height: calc(100vh - 565px);
    .mat-mdc-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }

    .mat-mdc-row,
    .mat-mdc-header-row {
        display: table-row;
        width: 10%;
    }

    .mat-mdc-cell,
    .mat-mdc-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 6px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
}

.mat-mdc-dialog-container{
    overflow: hidden !important;
}