<form [formGroup]="findingForm">
  <div class="row mt-3">
    <div class="col-lg-4">
      <h6 *ngIf="mode!='Add' ">Finding Setup</h6>
      <h6 *ngIf="mode==='Add' ">Add New Finding Setup</h6>
    </div>
    
    <div class="col-lg-8" id="editIcon">
     
      <div>
        
        <button class="" (click)="addFinding()" mat-raised-button color="primary" *ngIf=" isEditSetup===false && mode!='Add'">Add New
          Findings</button>
        <button class="" (click)="saveFindings()" mat-raised-button color="primary" *ngIf=" isEditSetup===true" >Save</button>
        <button class="" (click)="addFindings()" mat-raised-button color="primary" *ngIf=" mode==='Add'" >Add</button>
        <button mat-button color="primary" (click)="editFindingSetup()"
          *ngIf="isEditSetup===false && citationValue!=''">
          <mat-icon color="accent" style="font-size: 20px;" class="ft-size">edit</mat-icon>Edit
        </button>
        <button *ngIf=" isEditSetup===true || mode==='Add'" (click)="editFindingSetup()" class="mt-n1" mat-button color="primary">
          <mat-icon color="accent" class="ft-size">cancel</mat-icon>Cancel
        </button>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" style="padding:15px">
    <app-finding-fields *ngIf="mode==='Add'" (newItemEvent)="GetFindingForm($event)"></app-finding-fields>

  <div class="col-lg-6" *ngIf="mode!='Add'">
    <div class="row">
      <mat-form-field class="full-width">
        <input matInput [matAutocomplete]="auto" formControlName="searchCitation"
          placeholder="Min 3 Characters Ex. Ogs" />
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection()">
          <mat-icon>close</mat-icon>
        </button>
        <div style="margin-bottom: -30px">
          <mat-icon style="margin-top: -2px" matSuffix></mat-icon>
        </div>
        <span matSuffix>
          <mat-icon matSuffix>search</mat-icon>
        </span>
        <mat-label>Select Citation</mat-label>
        <mat-autocomplete [panelWidth]="670" #auto="matAutocomplete" [displayWith]="displayWith">
          <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option (click)="onSelect(citation)" *ngFor="let citation of filteredCitation" [value]="citation">
              <span><b>{{citation.cfaDesc}}</b>
              </span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="example-full-width" style="width: 100%;" *ngIf="isEditSetup===true ">

        <textarea autocomplete="off" matInput placeholder="Please enter citation" (change)="changeCitationDesc($event)"
          value={{citationDesc}}></textarea>
      </mat-form-field>
      <p *ngIf="citationValue!='' && isEditSetup === false" style="border: 1px solid #efefef; padding:20px">

        {{ citationValue.cfaDesc}}
      </p>
    </div>
    <div class="row">
      <mat-form-field class="full-width">
        <input matInput [matAutocomplete]="autoFinding" formControlName="searchFinding"
          placeholder="Min 3 Characters Ex. Ogs" />
        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearSelection1()">
          <mat-icon>close</mat-icon>
        </button>
        <div style="margin-bottom: -30px">
          <mat-icon style="margin-top: -2px" matSuffix></mat-icon>
        </div>
        <span matSuffix>
          <mat-icon matSuffix>search</mat-icon>
        </span>
        <mat-label>Select Finding</mat-label>
        <mat-autocomplete [panelWidth]="670" #autoFinding="matAutocomplete" [displayWith]="displayWithFinding">
          <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option (click)="selectFinding(find)" *ngFor="let find of filteredFinding" [value]="find">
              <span><b>{{find.cfaDesc}}</b>
              </span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="example-full-width" style="width: 100%;" *ngIf="isEditSetup===true">

        <textarea autocomplete="off" matInput placeholder="Please enter finding" (change)="changefindingDesc($event)"
          value={{findingDesc}}></textarea>
      </mat-form-field>

      <p *ngIf="findingValue!='' && isEditSetup === false" style="border: 1px solid #efefef; padding:20px">

        {{ findingValue.cfaDesc}}
      </p>
    </div>
  </div>

  <div class="col-lg-6" *ngIf="mode!='Add'">
    <div class = "row">
    <div class="col-lg-6">
      <mat-form-field matTooltip="Example : Choose an option from the drop down" class="full-width">
        <mat-label>Citation Category</mat-label>

        <mat-select (selectionChange)="onChangeCategory($event)" formControlName="citationCat" [disabled]="isEditSetup===false">
          <mat-option style="color: rgb(9, 2, 2);" *ngFor="let cat of citationCategory" [value]="cat.refCode">
            {{cat.refDesc }}
          </mat-option>
        </mat-select>

      </mat-form-field>

    </div>
    <div class="col-lg-6">
      <mat-form-field matTooltip="Example : Choose an option from the drop down" class="full-width">
        <mat-label>Finding Category</mat-label>
        <mat-select formControlName="findingCat"  [disabled]="isEditSetup===false">
          <mat-option style="color: rgb(9, 2, 2);" *ngFor="let cat of findingCategory" [value]="cat.refCode">
            {{cat.refDesc }}
          </mat-option>
        </mat-select>

      </mat-form-field>
      </div>

  </div>
  <div class="row">
  <div class="col-lg-6">
    <label class="float-left">Edit</label>
    <mat-slide-toggle  [disabled]="isEditSetup===false" [checked]="findingEdit === 'Y' ? true : false"
      (change)="findingEdit=!findingEdit" class="float-right">
    </mat-slide-toggle>
  </div>
  <div class="col-lg-6">
    <label class="float-left">ARC</label>
    <mat-slide-toggle  [disabled]="isEditSetup===false" [checked]="findingARC === 'Y' ? true : false"
      (change)="findingARC=!findingARC" class="float-right">
    </mat-slide-toggle>
  </div>
</div>
  </div>

  
   
  </div>
  <!-- <div class="row" style="padding:15px">
   
    <div class="col-lg-4">
      <mat-form-field matTooltip="Example : Choose an option from the drop down" class="full-width">
        <mat-label>Finding Category</mat-label>
        <mat-select formControlName="findingCat"  [disabled]="isEditSetup===false">
          <mat-option style="color: rgb(9, 2, 2);" *ngFor="let cat of findingCategory" [value]="cat.refCode">
            {{cat.refDesc }}
          </mat-option>
        </mat-select>

      </mat-form-field>
      <div class="row">
        <label class="float-left">Edit</label>
        <mat-slide-toggle  [disabled]="isEditSetup===false" [checked]="findingEdit === 'Y' ? true : false"
          (change)="findingEdit=!findingEdit" class="float-right">
        </mat-slide-toggle>
      </div>
      <div class="row">
        <label class="float-left">ARC</label>
        <mat-slide-toggle  [disabled]="isEditSetup===false" [checked]="findingARC === 'Y' ? true : false"
          (change)="findingARC=!findingARC" class="float-right">
        </mat-slide-toggle>
      </div>
    </div>
  </div> -->
  <div class="row" style="display: flex;flex-direction:row-reverse" *ngIf="mode!='Add'">
    
      <!-- <div  class="col-md-8 col-lg-8" style="margin-left: 15px;">
        <label id="example-radio-group-label" class="col-lg-3"
          style="font-size: 14px;color: rgba(0, 0, 0, 0.38);">Entity level</label>
        <div class="col-lg-9">
          <mat-radio-group layout="row"  [disabled]="isEditSetup===false" aria-labelledby="example-radio-group-label"
            (change)="onEntityLevelChange($event)" [(ngModel)]="entityLevel" class="col-lg-9" class="radio-group">
            <mat-radio-button [checked]="entityLevel==='P'" [value]="'P'" class="radio-button col-md-3"
              style="font-size: 12px;">
              Sponser
            </mat-radio-button>
            <mat-radio-button [checked]="entityLevel==='C'" [value]="'C'" class="radio-button col-md-3"
              style="font-size: 12px;">
              Site
            </mat-radio-button>
            <mat-radio-button [checked]="entityLevel==='B'" [value]="'B'" class="radio-button col-md-3"
              style="font-size: 12px;">
              Both
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div> -->
    
    <div class=" col-lg-1 col-md-1 clearfix mt-3 mb-3 align-left" style=" text-align: left;margin-left:-15px;
border: 0;">

      <button class="primary"
        style="font-size:12px;border-radius:5px;padding:5px;border:1px solid #1857a4;margin-left:20px;background-color: white !important;"
        (click)="searchFindings()">
        Search
      </button>
    </div>

  </div>


  <div class="row mt-3">
    <app-setup *ngIf="mode==='Add'" (newARCItemEvent)="GetFindingARC($event)" [citationValue]="'None'" [findingValue]="'None'" [data]="[]"
    [selectedPgmId]="0" [reviewType]="''" [mode]="'add'"></app-setup>
    <app-setup *ngIf="mode!='Add'"  (newARCItemEvent)="GetFindingARC($event)" [findingValue]="findingValue" [citationValue]="citationValue" [selectedPgmId]="selectedPgmId"
      [reviewType]="reviewType" [mode]="''"  [data]="findingResult"></app-setup>
  </div>
</form>