/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons");
a {
  color: #0366d6;
  text-decoration: none !important;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.landing {
  position: relative;
  /* empty */
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

body a:focus {
  background: unset;
}
.fl {
  float: left;
}
.w-100 {
  width: 100%;
}
.wi-100 {
  width: 100% !important;
}
.pl-0 {
  padding-left: 0;
}
.dib {
  display: inline-block;
}
.margin-top-20 {
  margin-top: 20px;
}
.logo-txt {
  padding-left: 10px;
}
.w-50 {
  width: 50%;
}
.dni {
  display: none !important;
}
.fr {
  float: right;
}
.pa {
  position: absolute;
}
.pr {
  position: relative;
}

.mh-480 {
  min-height: 480px;
}
.setup-pgm-btn {
  padding: 10px 20px;
}
.br-r {
  border-right: 1px solid #ced4da;
}
.p10 {
  padding: 10px;
}
.tar {
  text-align: right;
  padding-right: 5px;
}
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.blue-bg {
  background-color: #112e51;
}
.top-nav {
  background: #261e32;
  padding: 0;
  background-color: #222;
}
.top-nav a {
  color: #fff;
  font-size: 12px;
}

.navbar-expand-sm .txt-right {
  flex-direction: row-reverse;
  text-align: right;
}
.logo-section img {
  width: 64px;
}

.logo-section h1 {
  font-size: 24px;
  color: #fff;
  font-weight: 800;
}

.logo-section h2 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
.main-nav ul {
  background-color: #dce4ef;
  padding: 5px;
}
.main-nav li {
  margin: 0px 5px;
}
.main-nav li a {
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #bbb;
}

.main-nav li:hover a,
.main-nav li.active a {
  border-color: #c57763;
  color: #bd3640;
}

.search-icon {
  top: 14px;
  right: 10px;
  cursor: pointer;
}
.autocomplete-container .input-container .x i {
  margin-right: 30px;
}

.aiia-wizard-progress-buttons-placeholder li,
.aiia-wizard-progress-buttons-placeholder li a {
}
#wrapper {
  transition: all 0.4s ease 0s;
  height: 100%;
  position: relative;
}

#sidebar-wrapper {
  margin-left: 0px;
  left: 0px;
  width: 100%;
  background: #112e51;
  position: relative;
  height: 100%;
  z-index: 10000;
  transition: all 0.4s ease 0s;
  margin: 0;
  min-height: 720px;
}

.sidebar-nav {
  display: block;
  float: left;
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
}
#wrapper.active {
  padding-left: 150px;
}
#wrapper.active #sidebar-wrapper {
  left: 150px;
}

#sidebar_menu li a,
.sidebar-nav li a {
  color: #dcdbdb;
  display: block;
  float: left;
  text-decoration: none;
  width: 150px;
  background: transparent;
  border-top: 0;
  border-bottom: 1px solid #525e5d;
  transition: background 0.5s;
}
.sidebar_name {
  padding-top: 25px;
  color: #fff;
  opacity: 0.7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

#wrapper .sidebar-nav > .sidebar-brand a {
  background-color: #112e51;
  color: #fff;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#wrapper .sidebar-nav li,
#wrapper .sidebar-nav li a {
  width: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
  height: auto;
}
.sidebar-nav {
  background: #112e51;
}
.sidebar-brand h4 {
  color: #fff;
  padding: 15px 0;
}
#wrapper .sidebar-nav li.active a,
#wrapper .sidebar-nav li:hover a,
#wrapper .sidebar-nav li a.active,
#wrapper .sidebar-nav li a.active:hover {
  background-color: #1857a4;
  color: #fff;
}

@media (max-width: 767px) {
  #wrapper {
    padding-left: 70px;
    transition: all 0.4s ease 0s;
  }
  #sidebar-wrapper {
    left: 70px;
  }
  #wrapper.active {
    padding-left: 150px;
  }
  #wrapper.active #sidebar-wrapper {
    left: 150px;
    width: 150px;
    transition: all 0.4s ease 0s;
  }
}
.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
  max-width: none !important;
  width: auto !important;
}

.disabled-card {
  opacity: 0.4;
  cursor: not-allowed;
}
.disabled-card a {
  display: none;
}

.rvw-type-list,
rvw_type-list li {
  list-style: none;
}

.program-dashboard .card {
  min-height: 180px;
}

.navbar.mb-4 {
  margin-bottom: 0px !important;
}

.program-info-bar {
  background: #1857a4;
  color: #fff;
  padding: 10px;
  width: 100%;
  left: 0px;
}
.review_type_select {
  max-width: 25%;
}
.review_type_section h5 {
  padding-top: 5px;
}

.white-icon {
  color: white;
}
a:focus,
a:focus:visited,
*:focus-visible {
  outline-offset: unset !important;
  outline: unset !important;
}
.title-program {
  font-size: 24px;
  text-align: left;
  line-height: 3.5rem;
  padding: 0px !important;
  margin: 0px;
}
.title-review,
.review_type_select {
  font-size: 16px;
  line-height: 1.4rem;
}
.review_type_mat_select .mat-form-field-wrapper {
  margin-bottom: -1.34375em;
}
.review_type_mat_select .mat-form-field {
  width: 100%;
}
.review_type_mat_select .mat-select-value,
.review_type_mat_select .mat-form-field-label,
#program-info-bar .add-new-review-btn {
  color: #fff;
}

#program-info-bar .add-new-review-btn {
  margin-top: 10px !important;
  margin-right: 20px;
}

.ul {
  line-height: 1rem;
  border-bottom: 1px solid #333;
  cursor: pointer;
}

.tul {
  line-height: 1rem;
  text-decoration: underline;
}

.full-width {
  width: 100%;
}

.main-program-widgets .card-body {
  min-height: 160px;
}

.rvw-type-list .bg-warning {
  background-color: #bda73642 !important;
  font-size: 20px;
}

.rvw-type-list .bg-warning h4 {
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 0px;
}
.program-board p {
  font-size: 14px;
}

.program-selected .search-bar,
.program-selected .search-bar .col-md-6.offset-md-3 {
  margin: 0px auto;
  width: auto;
  /* max-width: var(--selected-item-container); */
}
.program-selected {
  min-height: 480px;
}
.program-selected .search-bar .mat-form-field.full-width {
  width: 50%;
  margin-left: 15px;
  min-width: 480px;
}

.program-selected .no-program-section span {
  display: none;
}
.program-selected .no-program-section .setup-pgm-btn {
  padding: 5px 10px;
}

.program-selected .search-bar .no-program-section {
  float: right;
  text-align: right;
  margin-left: 60px;
  width: auto;
}

#wrapper .sidebar-nav li .selected-side-menu {
  color: #fff !important;
  background: rgb(189 54 64) !important;
  border-color: rgb(189 54 64) !important;
}

#wrapper .sidebar-nav li .sidebar-child-menu {
  margin-left: 20px;
  width: calc(100% - 20px);
  font-size: 12px;
  border-left: 1px solid #525e5d;
}

#wrapper .sidebar-nav li.child-menu {
  line-height: 30px;
  text-indent: 10px;
}

#wrapper .sidebar-nav li.no-border a,
#wrapper .sidebar-nav li.child-menu:last-child .sidebar-child-menu {
  border: 0px;
}

#wrapper .sidebar-nav li.top-border a {
  border-top: 1px solid #525e5d;
}
