<div class="popup">
    <div class="table-preview">
      <!-- Outer loop for rows -->
      <div
        *ngFor="let row of [].constructor(maxRows); let i = index"
        class="table-preview-row"
      >
        <!-- Inner loop for columns -->
        <div
          *ngFor="let col of [].constructor(maxCols); let j = index"
          class="table-preview-cell"
          [class.highlighted]="i < rows && j < columns"
          (mouseover)="updateHighlight(i + 1, j + 1)"
          (click)="confirmSelection()"
        ></div>
      </div>
    </div>
  </div>
  