<header class="header">
  <nav class="top-nav navbar-expand-sm w-100 mb-0 navbar navbar-inverse navbar-fixed-top">
    <ul class="navbar-nav float-left w-50">
      <li class="navbar-item">
        <a class="nav-link" routerLink="/"><mat-icon>home</mat-icon></a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" href=""> <mat-icon>phone</mat-icon>Contact Us</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" href=""><mat-icon>open_in_new</mat-icon> My.Com </a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" routerLink="/admin"><mat-icon>touch_app</mat-icon> Admin </a>
      </li>
    </ul>
    <ul class="navbar-nav w-50 txt-right">
      <li *ngIf="timerVal">
        <a
          class="nav-link"
          (click)="extendSession($event)"
          title="Stay signed in"
          aria-label="Session time remaining. Click to stay signed in."
        >
          <mat-icon>more_time</mat-icon> {{ timerVal }}
        </a>
      </li>
      <li>
        <a class="nav-link" (click)="logout()"> <mat-icon>exit_to_app</mat-icon>Logout </a>
      </li>
      <li>
        <a class="nav-link" href=""><mat-icon>person</mat-icon> Name</a>
      </li>
    </ul>
  </nav>

  <div
    class="wi-100 logo-section ds-base--inverse ds-u-display--flex ds-u-justify-content--between ds-u-align-items--center">

    <a href="/" title="GEMS">
      <!-- <img alt="GEMS" class="f1 dib w-12 -mt-10 mr-2 inline-block float-left mr-20" style="width: 70px; height: 60px;"
                src="https://mdoe.state.mi.us/gems/AppFiles/AgencyLogo/PUB_logo_left.png" /> -->
      <div class="logo-txt dib">
        <h1>Application Name Text</h1>
        <h2>Sub Application Name</h2>
      </div>
    </a>
  </div>
  <nav class="navbar main-nav navbar-expand-sm mb-4 w100" *ngIf="menuList.length>0">
    <ul class="w-100 navbar-nav" cdkMenuBar>
      <li
        class="navbar-item enabled"
        *ngFor="let menu of menuList"
        [ngClass]="{
          active: isMenuActive(menu),
          dispnone: !menu.visible,
          'has-children': menu?.subMenu?.length > 0
        }"
      >
        <a
          *ngIf="!(menu?.subMenu?.length > 0)"
          class="nav-link"
          cdkMenuItem
          [routerLink]="toAbsUrl(menu.redirectURL)"
        >
          <span class="menuName">{{ menu.menuName }}</span>
        </a>

        <ng-container *ngIf="menu?.subMenu?.length > 0">
          <a
            class="nav-link"
            cdkMenuItem
            [cdkMenuTriggerFor]="subMenuTpl"
          >
            <span class="menuName">{{ menu.menuName }}</span>
            <mat-icon class="menu-arrow" aria-hidden="true">expand_more</mat-icon>
          </a>

          <ng-template #subMenuTpl>
            <div class="header-sub-menu" cdkMenu cdkTargetMenuAim>
              <a
                class="nav-link"
                cdkMenuItem
                *ngFor="let subMenu of menu.subMenu"
                [routerLink]="toAbsUrl(subMenu.redirectUrl)"
                [ngClass]="{
                  active: isSubMenuActive(subMenu),
                  dispnone: !subMenu.active
                }"
              >
                <span class="subMenuName">{{ subMenu.menuName }}</span>
              </a>
            </div>
          </ng-template>
        </ng-container>
      </li>
    </ul>
  </nav>
</header>