<div>
    <div class="row header">
        <div class="col-lg-10 mt-5">
            <h6>{{headerName}}</h6>
        </div>
        <div class="col-lg-2 mt-5" style="text-align: right">
            <span style="cursor: pointer !important;" [mat-dialog-close]><b>X</b></span>
        </div>
    </div>
    <div style="min-height: 100px;" *ngIf = "pageName == 'gemsUserInfo' ">
        <div class="row mt-20">
            <div class="col-lg-5 mt-10">
                <div class="row">
                    <div class="col-lg-3"><label for="formFileSm" class="form-label">File Upload</label></div>
                    <div class="col-lg-9"><input class="form-control form-control-sm" id="formFile"
                            (change)="handleFileInput($event)" type="file"></div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-11">
                        <div appearance="outline" class="search-results-count-box">
                            <mat-form-field class="full-width">
                                <input matInput [matAutocomplete]="auto" placeholder="Min 3 Characters Ex. Ogs" />
                                <button matSuffix mat-icon-button aria-label="Clear">
                                    <mat-icon class="mr-10">close</mat-icon>
                                </button>
                                <div style="margin-bottom: -30px">
                                    <mat-icon class="mr-10" style="margin-top: -2px" matSuffix></mat-icon>
                                </div>
                                <span matSuffix>
                                    <mat-icon class="mr-10" matSuffix>search</mat-icon>
                                </span>
                                <mat-label>Search Comments</mat-label>
                                <mat-autocomplete [panelWidth]="480" #auto="matAutocomplete">
                                    <mat-option class="is-loading">Loading...</mat-option>
                                    <ng-container>
                                        <mat-option>
                                            <span></span>
                                        </mat-option>
                                    </ng-container>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 mt-10">
                <button style="color: #bd3640 !important;" mat-raised-button class="mr-10" (click)="closePopUp()">Upload</button>
            </div>
        </div>
        <div class="row mt-20">
            <div class="subRecipient-table-height mat-elevation-z8"
                *ngIf="uploadDataSource?.filteredData?.length > 0">
                <table class="w-100 table-hover" #table mat-table [dataSource]="uploadDataSource"
                    matSort>
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef>Date</th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <label>{{element.date}}</label>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="author">
                        <th mat-header-cell *matHeaderCellDef>Author</th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <label>{{element.author}}</label>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="comments">
                        <th mat-header-cell *matHeaderCellDef>Comments</th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <label>{{element.comments}}</label>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="attachment">
                        <th mat-header-cell *matHeaderCellDef>Attachment</th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <a (click)="downloadDocument($event)"><mat-icon>file_download</mat-icon></a>
                        </td>
                    </ng-container>
                    <tr mat-header-row
                        *matHeaderRowDef="displayedColumnsUploadDocuments; sticky: true">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsUploadDocuments;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </div>
    </div>
    <div class="row mt-10">
        <div style="text-align: right; width: 98%;">
            <button style="color: #bd3640 !important;" mat-raised-button class="mr-10" (click)="closePopUp()">Ok</button>
            <button style="color: #bd3640 !important;" mat-raised-button class="mr-10" [mat-dialog-close]>Cancel</button>
        </div>
    </div>
</div>
