.header{
    background: #112e51;
    border-radius: 5px;
    color: #fff;
}
.mt-5{
    margin-top: 5px !important;
}

.wrapper-box{
    border: 1px solid rgba(0, 0, 0, 0.12);
    min-height: 100px;
}

.wrapper-box span{
    top: -15px;
    position: relative;
    background: white;
    padding: 10px;
    font-size: 16px;
    font-family: system-ui;
}
